<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags" %>

<!-- <div class="nav"> -->
<cms:pageSlot position="NavigationBar" var="component">
	<cms:component component="${component}"/>
</cms:pageSlot>
<!-- </div> -->