//this document adds styles to account registration page of the project
.account-registation {
  // title styles
  .head {
    display: flex;
    @media (max-width: $screen-lg) {
      flex-flow: column;
    }
    h1 {
      width: 81%;
      @media (max-width: $screen-lg) {
        margin-bottom: 10px;
      }
    }
    .links {
      margin: 30px 0 0 30px;
      font-size: 10px;
      cursor:pointer;
      @media (max-width: $screen-md) {
        a {
          margin: 15px 0;
        }
      }
      @media (max-width: $screen-lg) {
        width: 100%;
        text-align: right;
        margin: 0 0 20px;
      }
      a {
        padding-left: 33px;
      }
    }
  }

  .col-xs-12 {
      padding: 0;
      .col-lg-6 {
          @media (min-width: $screen-lg) {
              padding-right: 30px;
          }
      }
  }

  .column {
    border-top: 4px solid $kao-black;
    padding-top: 18px;
    p {
      font-size: 12px;
      color: $kao-grey;
    }
    div {
      position: relative;
      input[type="text"], input[type="number"] {
        margin-bottom: 20px;
        border: 0;
        border-bottom: 1px solid #000;
        font-size: 11px;
        padding-left: 0px;
        &.vatNumber {
          width: 85%;
          margin-bottom: 5px;
          @media (max-width: $screen-lg) {
              width: 95%;
          }
        }
      }
      span {
        display: flex;
        .icon {
          margin: 10px 0 0 35px;
          font-size: 18px;
          @media (max-width: $screen-lg) {
            margin-left: 15px;
          }
        }
      }
      select {
        margin-bottom: 20px;
        font-size: 11px;
        font-family: $f-bold;
      }
    }
  }

  .info {
    background-color: #000;
    text-align: center;
    display: grid;
    padding: 25px;
    span {
      color: #a0a0a0;
      &.title {
        color: $kao-white;
        font-family: $f-bold;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }
  }
  .check {
    padding-top: 35px;
    .col {
      padding-right: 30px;
      @media (max-width: $screen-lg) {
        padding-right: 0px;
      }
    }
  }

  // styles for the terms and conditions line
  .terms {
    border-top: 4px solid;
    display: flex;
    padding-top: 20px;
    width: 100%;
    .terms-span {
      display: flex;
      width: 90%;
      input {
        margin: 8px 10px 0 1px;
      }
      p {
        margin-top: 5px;
        margin-left: 20px;
        a {
          text-transform: lowercase;
          font-family: $f-regular;
        }
      }
    }
  }

  //error messages styles
  .validation {
    left: 0%;
    transform: translateX(0%);
    &:before {
      left: 10%;
      transform: translateX(-10%);
    }
    .validation-container {
      .validation-text {
        color: $kao-white;
      }
    }
  }
}
