//this document add styles to apps component of the project
.addresses {
  min-height: 63vh;
  h1, .h1 {
    @media (max-width: $screen-md) {
      margin-top: 5px;
    }
  }

  // center and right side elements
  .options-card {
    display: inline-block;
    width: 100%;
  }

  .address-table{
    width: 100%;
    font-size: 12px;
    display: block;
    padding: 0;
    .col-md-12{
      padding: 0;
      @media (max-width: $screen-md) {
        display: flex;
      }
      .col-md-6{
        padding: 0;
        padding-bottom: 15px;
        @media (max-width: $screen-md) {
          width: 50%;
        }
      }
    }
  }
}
