//this document add styles to advantages component of the project
.advantages {
  border-top: 4px solid $kao-black;
  margin-top: 50px;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .advantage {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    &__icon {
      font-size: 1.3em;
      margin-bottom: 0.8em;
    }
    &__title {
      text-transform: uppercase;
      font-family: $f-bold;
    }
    &__subtitle {
      font-size: 12px;
    }
  }
}
