//this document add styles to alerts in the project
.alert {
  display: flex;
  align-items: center;
  background-color: $kao-black;
  color: white;
  padding: 15px 20px;
  margin-bottom: 30px;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    text-align: center;
  }
  &__title {
    padding: 0;
    margin: 0;
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__body {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
    p {
      text-transform: uppercase;
      font-family: $f-bold;
      .text-muted {
        text-transform: none;
        font-size: 12px;
        font-family: $f-regular;
      }
    }
  }
}
