.apps {
  padding: 2em 0;
  margin-bottom: 25px;
  @media(min-width: $screen-md) {
    margin-bottom: 50px;
  }

  &__title {
    text-align: center;
    h2 {
      margin-bottom: 30px;
    }
  }

  &__separator {
    @include small-only {
      display: none;
    }
    &--border {
      height: 110px;
      border-right: solid 1px $kao-grey;
    }
  }

  &__cta {
    display: inline-block;
    height: 70px;
    width: 100%;
    border: solid 1px $kao-white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    @include medium-only {
      height: 40px;
    }
    &--android {
      background-image: url('../images/app-android-big.png');
      margin-right: 35px;
    }
    &--ios {
      background-image: url('../images/app-ios-big.png');
    }
    &--marged {
      margin-top: 35px;
    }
  }
}
