//this document add styles to news articles page of the project
.news-article {
  padding: 30px 0;
  @media(min-width: $screen-md-min) {
      padding: 30px;
  }
  h1 {
    margin-top: 10px;
    @media(min-width: $screen-md-min) {
      margin-top: 0;
    }
  }
  figure {
    display: block;
    border-bottom: 8px solid $kao-red;
    img {
      width: 100%; 
    }
  }
  .subtitle {
    text-align: center;
    margin: 30px 0;
    time {
      text-transform: uppercase;
    }
  }
  .article-imgs {
    padding-bottom: 10px;
    @media(min-width: $screen-md-min) {
      margin: 50px 40px;
    }
    > div {
      float: none;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  video {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .article-img-legend {
    font-family: $f-bold;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    @include media-query(medium) {
      text-align: right;
    }
  }
  .article-description {
    @media(min-width: $screen-md-min) {
      margin: 50px auto;
      max-width: 600px;
    }
    h4 {
      margin: 25px 0 10px;
    }
  }
  .article-signature {
    padding: 30px 0;
    margin: 30px 0;
    border-top: 4px solid $kao-black;
    text-align: center;
    img {
      max-width: 150px;
      max-height: 80px;
    }
  }
  .article-mentions {
    h2 {
      margin-bottom: 30px;
    }
  }
}