//this document add styles to banner component of the project
.banner {
  background: $kao-black;
  min-height: 140px;
  color: $kao-white;
  a {color: $kao-white;}
  .content {
    min-height: 140px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    p {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 0;
      @media(max-width: $screen-md) {
        text-align: center;
        padding: 20px;
      }
      &.muted {
        text-transform: none;
        color: $kao-grey;
        font-family: $f-regular;
      }
    }
  }
}