//this document add styles to bestsellers products component of the project
.bestsellers-products {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  @media(min-width:  $screen-sm-min) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media(min-width:  $screen-lg-min) {
    padding-left: 100px;
    padding-right: 100px;
  }
  h2 {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .product-item  {
  }
}
.bestsellers-products {
  &__items {
    display: flex;
    justify-content: space-between;
    .product-item {
      display: inline-block;
      width: 170px;
      @include medium-only {
        width: 140px;
      }
    }
  }
}
.also-like {

}
