//this document add styles to all carousels components of the project
.owl-carousel {
  position: relative;
  .owl-stage-outer {
    z-index: 99;
  }
  .owl-nav {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    //height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    top: 45%;
    
    > div {
      background: $kao-lightGrey;
      width: 40px;
      height: 40px;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      text-align: center;
      padding-top: 15px;
      letter-spacing: 0;
      font-size: 10px;
      transition: all .5s ease;
      @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        background: $kao-white;
      }
      &:hover, &:active {
        opacity: .80;
      }
    }
    .owl-next {right: -60px;}
    .owl-prev {left: -60px;}
    
    @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      .owl-next {right: 0;}
      .owl-prev {left: 0;}
    }
  }
}
