//this document add styles to cart list page of the project
.cart-list {
  //add styles to the table
  table {
    table-layout: fixed;
  }
  tr {
    position: relative;
    th, td {
      // Inner gutter via padding
      // padding-left: ($grid-gutter-width / 5);
      // padding-right: ($grid-gutter-width / 5);
      padding-left: 10px;
      padding-right: 10px;
      &:first-child {
        // padding-left: ($grid-gutter-width / 5);
        padding-left: 10px;
      }
      &:last-child {
        padding-right: ($grid-gutter-width / 5);
        padding-right: 10px;
      }
    }
    @media (min-width: $screen-md) {
      th, td {
        // Inner gutter via padding
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        &:first-child {
          padding-left: ($grid-gutter-width / 2);
        }
        &:last-child {
          padding-right: ($grid-gutter-width / 2);
        }
      }
    }
    td.actions {
      text-align: right;
      padding: 10px 0;
    }
    &.recommended, &.outofstock, &.avaibility {
      background-color: $kao-lightGrey;
      td:nth-child(1) {
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 0px;
          height: 0px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $kao-lightGrey;
          position: absolute;
          left: 100px;
          top: 0;
          transform: translate(0, -10px);
        }
      }
    }
    &.outofstock, &.avaibility {
      @media (max-width: $screen-sm-max) {
        display: flex;
        flex-direction: column;
      }
      td {
        @media (max-width: $screen-sm-max) {
          text-align: center;
          &:first-child {
            padding-top: 15px;
          }
          &:last-child {
            padding-bottom: 15px;
          }
        }
      }
      .title-container {
        display: flex;
        align-items: center;
        width: 100%;
        @media (max-width: $screen-sm-max) {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
      .title {
        margin: 0;
        margin-right: 1em;
        min-width: 7em;
      }
      .subtitle {
        margin: 0;
        .h4 {
          margin: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    &.recommended {
      .product-recommended {
        display: block;
        text-transform: uppercase;
        font-family: $f-bold;
        color: $kao-grey;
        font-size: 12px;
        margin-bottom: 1em;
      }
      td:last-child {
        .close {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
        }
      }
    }
    td:first-child {
      position: relative;
    }
    td:last-child {
      @media (min-width: $screen-md) {
        position: relative;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .table-cart {
      table {

      }
      thead {
        th {
          display: none;
        }
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        &.recommended, &.outofstock, &.avaibility {
          td:nth-child(1) {
            &:before {
              left: 50%;
            }
          }
        }
        &.product {
          td {
            flex: 1 1 auto;
            // line-height: 34px; // hardcoded to vertical center
            &:before {
              content: attr(data-th);
              text-transform: uppercase;
              font-family: $f-bold;
              display: block;
              margin-bottom: 0.5em;
              line-height: 1;
            }
          }
        }
      }
      td:nth-child(2), td:nth-child(3) {
        flex: 1 100%;
        width: 100%;
        padding-bottom: 0;
        line-height: normal;
      }
      td:nth-child(3) {
        padding-top: 0;
        padding-bottom: 0;
        line-height: normal;
      }
    }
  }
  .table-wrap--summarize {
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $kao-white;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }
  .table-summarize {
    background-color: $kao-black;
    .text-muted {
      color: $kao-grey;
    }
    tr {
      border-bottom-color: $kao-darkGrey;
    }
    th, td {
      color: $kao-white;
      vertical-align: bottom;
    }
    .link {
      @media (max-width: $screen-sm-max) {
        display: block;
        padding-left: 0;
        padding-right: 0;
        margin-top: 1em;
      }
    }
    .offer {
      &:first-child {

      }
    }
    .delivery {
      @media (max-width: $screen-sm-max) {
        span {
          display: block;
        }
      }
    }
    .popover {
      background-color: $kao-darkGrey;
      text-align: center;
      &.bottom>.arrow:after {
        border-bottom-color: $kao-darkGrey;
      }
      .popover-title {
        background-color: transparent;
        border: none;
        padding-bottom: 0;
      }
    }
    .final-amount {
      font-family: $f-bold;
      border-top: 4px solid $kao-white;
      td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .price {
        font-size: 12px;
      }
      .h4 {
        margin: 0;
      }
    }
  }

  .actions-card {
    flex-wrap: wrap;
    @media (max-width: $screen-sm-max) {
      justify-content: space-between;
    }
    & > :first-child {
      margin: 0;
      margin-right: auto;
      font-size: 12px;
      @media (max-width: $screen-sm-max) {
        flex: 0 1 auto;
        width: 100%;
        margin-bottom: 10px;
      }
      input {
        top: -2px;
      }
    }
  }

  .link-container {
    display: inline-block;
    position: relative;
    @media (min-width: $screen-md) {
      margin-left: 2em;
    }
    @media (min-width: $screen-lg) {
      margin-left: 5em;
    }
  }
}
