//this document add styles to change password page of the project
.change-password {
    .from-group {
        display: block;
        border-top: 4px solid #222222;
        border-bottom: 4px solid #222222;
        padding: 30px 0 15px;
        width: 75%;
        @media(max-width: $screen-md) {
            width: 100%;
        }
        div.form {
            position: relative;
            label {
                margin-bottom: 5px;
                text-transform: uppercase;
                font-family: $f-bold;
            }
            input {
                width: 60%;
                @media(max-width: $screen-md) {
                    width: 100%;
                }
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid;
                text-transform: lowercase;
                font-family: $f-regular;
                &#confirm_password {
                    margin-bottom: 10px;
                }
            }
            //hidden the error messages at the start
            .validation#password1, .validation#password2 {
                display: none;
                top: 60px;
            }
            .validation { 
                top: initial;
                left: 5%;
                transform: translateX(-5%);
                &#valid-email{
                    display: none;
                }
            }
        }
        .btn-password {
            text-align: right;
            margin-top: 15px;
        }
    }
}