//this document add styles to cookies component of the project
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $kao-black;
  color: $kao-white;
  padding: 20px 0;

  p {
    margin: 0;
    padding-right: 20px;
  }

  &--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
