//this document add styles to current order component of the project
.current-order {
  background: $kao-black;
  color: $kao-white;
  padding: 20px;
  h4, .h4 {
    text-align: center;
    margin-top: 0;
  }
  .item-number {
    color: $kao-grey;
    text-align: center;
    margin-bottom: 15px;
  }
  .carts-totals {
    color: $kao-grey;
    line-height: 1;
    & > * {
      overflow: hidden;
    }
    .sub-totals {
      padding: 17px 0 18px;
      border-top: 1px solid $kao-grey;
      &:first-child {
        padding-top: 9px;
        border-top: 0;
      }
    }
    .total {
      color: $kao-white;
      text-transform: uppercase;
      font-family: $f-bold;
      padding: 24px 0 7px;
      border-top: 4px solid $kao-white;
    }
    .price {
      float: right;
      text-align: right;
      width: 105px;
      max-width: 50%;
      .currency {
        float: left;
      }
    }
    .label {
      float: left;
      max-width: 50%;
    }
    .white {
      color: $kao-white;
    }
  }
  .cart-total {
    font: 14px $f-bold;
    text-align: center;
    margin-bottom: 15px;
  }
  .button-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}