//this document add styles to delivery options page of the project
.delivery-options,
.payment-methods {
  min-height: 63vh;
  &__add {
    @media(min-width: $screen-md-min) {
      top: 260px;
    }
  }
  .checkbox {
    margin-top: 0;
  }
  .options-card {
    .status {
      color: $kao-black;
    }
  }
}
.payment-methods {
  h1 {
    @media (max-width: $screen-md) {
      margin-top: 20px;
    }
  }
}
.options-card {
  border-top: 4px solid $kao-black;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative;
  .btn {margin-left: 15px;}
  a {font-size: 10px;}
  .status {
    color: $primary-color;
    font-size: 12px;
  }
}
.edit {
  position: absolute;
  right: 0;
}
.actions-card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .btn {margin-left: 15px; font-size: 10px;}
  a {font-size: 10px;}
}
