//this document add styles to discovery card component of the project
.discover-card {
  @media(min-width: $screen-md-min) {
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
    @media(min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }
  .card-item {
    transition: all .5s ease;
    background-color: $kao-black;
    overflow: hidden;
    margin-bottom: 25px; 
    
    .card-assets {
      overflow: hidden;
      max-height: 200px;
      @media(min-width: $screen-md-min) {
        max-height: none;
      }
      img {
        width: 100%;
        transition: all .8s ease;
        margin-top: -100px;
        @media(min-width: $screen-md-min) {
          margin-top: 0;
        }
      }
    }
    .content {
      background-color: $kao-black;
      color: $kao-white;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 1.8em;
      text-align: center;
      min-height: 200px;
      @media(min-width: $screen-md-min) {
        min-height: 215px;
      }
      .title {
        font-family: $f-bold;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 15px;
          @media(min-width: $screen-lg-min) {
            font-size: 24px;
          }
      }
      .muted {
        text-transform: none;
        font-family: $f-regular;
        color: $kao-grey;
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
    &:hover {
      opacity: .95;
      img {
        transform: scale(1.04);
      }
    }
  }
}