//this document add styles to download big item component of the project
.download-item-big {
  text-align: center;
  position: relative;
  a, a:hover, a:visited {
    color: $kao-white;
    text-decoration: none;
    display: block;
  }
  img {
    display: block;
    width: 100%;
    text-align: center;
  }
  .details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 8px $kao-red;
    background: rgba($kao-black, 0.4);
    color: $kao-white;
    padding: 24px 10px;
    .title {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    .info {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    .btn {
      font-size: 10px;
    }
  }
}
