//this document add styles to download list component of the project
.download-list {
  > .row {
    display: flex;
    flex-wrap: wrap;
    > [class^="col"] {
      margin-bottom: 40px;
    }
    .product-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      .details {
        flex: 1;
      }
    }
  }
  .product-item {
    margin-bottom: 40px;
  }
}
