//this document add styles to download item component of the project
.download-item {
  background: $kao-lightGrey;
  text-align: center;
  a, a:hover, a:visited {
    color: $kao-white;
    text-decoration: none;
    display: block;
  }
  img {
    display: block;
    width: 100%;
    text-align: center;
  }
  .details {
    border-top: solid 4px $kao-red;
    background: $kao-black;
    color: $kao-white;
    padding: 24px 10px;
    .title {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 12px;
      &, a {
        font-family: $f-regular;
        color: $kao-grey;
      }
      small {
        color: $primary-color;
        text-transform: uppercase;
      }
    }
  }
}
