//this document add styles to all dropdowns of the project
.dropdown {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: 400;

  .icon {
    font-size: 5px;
    position: relative;
    display: inline-block;
    bottom: 3px;
  }
  .icon.icon-help {
    font-size: 14px;
  }

  &--selected {
    min-width: 100px;
  }

  &--toggle {
    max-height: 0px;
    overflow: hidden;
    transition: max-height ease .2s;
    background-color: $kao-black;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    &__open {
      max-height: 500px;
    }
  }

  &--list-container {
    padding: 15px;
  }

  &--list--item {
    margin: 0 0 -1px !important;
    border-top: 1px solid rgba($kao-white, .5);
    padding: 7px 10px !important;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid rgba($kao-white, .5);
    }
  }
}
