//this document add styles to employee motivation page of the project
.employee-motivation {
  &__banner {
    height: 260px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 50px;
    @media(min-width: $screen-xs-min) {
      height: 260px;
    }
    @media(min-width: $screen-sm-min) {
      height: 260px;
    }
    @media(min-width: $screen-md-min) {
      height: 335px;
    }
    @media(min-width: $screen-lg-min) {
      height: 430px;
    }
    img {
      position: absolute;
      z-index: 0;
      width: 100%;
      top: 0;
      @media(max-width: $screen-xs-max) {
        max-width: inherit;
        height: 100%;
        width: auto;
      }
    }
    &--text {
      color: $kao-white;
      position: relative;
      p {
        text-transform: uppercase;
        padding: 0 15%;
        font: 14px $f-bold;
        color: $kao-white;
        line-height: 20px;
      }
    }
  }
  .row.flex-grid {
    display: inline;
  }
  &__howitworks, &__incentiveexamples {
    .dark-bg {
      padding: 50px 0;
      min-height: 350px;
    }
    h3 {
      font-size: 24px;
      text-align: center;
      margin: 0px 0 70px 0;
    }
    &--steps {
      display: flex;
      justify-content: space-between;
      @media(max-width: $screen-xs) {
        padding: 0;
      }
      > div {
        width: 125px;
        text-align: center;
        @media(max-width: 530px) {
          width: 100px;
        }
        .icon {
          display: block;
          font-size: 36px;
          border-bottom: solid 4px $kao-white;
          padding-bottom: 10px;
          margin-bottom: 15px;
        }
        h4 {
          @media(max-width: $screen-xs) {
            font-size: 10px;
          }
        }
        p {
          font-size: 12px;
          font-family: $f-regular;
          letter-spacing: 0.05em;
          margin: 0;
          line-height: 1.3em;
        }
      }
    }
  }
  &__incentiveexamples{
    @media(max-width: $screen-sm-max) {
      margin-top: 25px;
    }
  }
  &__downloads{
    &--title {
      margin: 50px 0 30px 0;
    }
  }

  .load-more {
    text-align: center;
  }
}
