//this document add styles to faqs page of the project
.faqs {
    div {
        padding-left: 0px;
        div {
            padding-left: 0px;
        }
    }
    .input-group {
        label {
            width: 100%;
            text-transform: uppercase;
            font-family: $f-bold;
            input {
                border: none;
                border-bottom: 1px solid;
                text-transform: capitalize;
                font-family: $f-regular;
            }
        }
    }
    .container-faqs {
        padding: 30px 0px;
        .faqs-question {
            margin: 20px 0px;
            border-bottom: 1px solid #ccc;
            .title {
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
            }
            .answer {
                margin-bottom: 25px;
                max-height: 0px;
                overflow: hidden;
                transition: max-height 0.5s ease-out;
                &.open {
                    max-height: calc(100vh + 200px);
                   
                }
            }
            
        }
    }
}