//this document add styles to favorites page of the project
.favorites {
    .favorites-table {
        table {
            td.actions {
                width: 200px;
                a {
                    padding-left: 40px;
                }
            }
           
        }
        
        .btn-link {
                    text-align: right;
            .btn-primary {
	                        font-size: 10px;
                         } 
      
                }
      }
    .table-wrap
             { 
             table{
              thead{
                    
                     th{
                          background-color: #FFFFFF;
                        } 
                      
                    }
                  }  
        
        }
      .page-title 
     {
	margin-top: 0px;
      }  
}