//this document add styles to favorite details page of the project
.favorite-details {
    .title {
        display: flex;
        margin-bottom: 5px;
         form
          {
            padding-left: 0px;
            padding-right: 0px;
           }
        input {
            font-size: 48px;
            &[disabled] {
                border-bottom: none;
            }
            @media (max-width: $screen-md) {
                width: 95%;
            }
        }
        .icon {
            margin-top: 30px;
            cursor: pointer;
            font-size:25px;
        }
        .actions {
            display: none;
            margin: 30px 5px 0;
            @media (max-width: $screen-md) {
                text-align: center;
                width: 28%;
            }
            a{
                @media (max-width: $screen-md) {
                    width: 100%;
                }
            }
        }
    }
    .table-wrap{ 
              table{
                thead{
                    
                  th{
                      background-color: #FFFFFF;
                     } 
                      
                    }
                  }  
        
        }
    .table-bottom{ 
                button{
                        font-size:10px;
                      }
                  }
}