//this document add styles to footer component of the project
.footer {
  margin-top: 30px;
  padding: 40px 0;
  font-size: 10px;
  font-family: $f-regular;
  @include mobile-only {
    margin-top: 50px;
    padding: 50px 0;
  }

  h3 {
    font-family: $f-bold;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  &__followus {
    ul {
      list-style: none;
      margin: 0 0 18px 0;
      padding: 0;
      @include mobile-only {
        margin: 0 0 25px 0;
      }
      li {
        margin: 0 14px 0 0;
        font-size: 14px;
        display: inline-block;
        a {
          color: $kao-white;
          &:hover {
            color: $kao-grey;
          }
        }
      }
    }
  }

  &__contact {
    margin-top: 40px;
    text-align: right;
    ul {
      list-style: none;
      li {
        margin: 0;
        font-size: 10px;
      }
    }
    li {
      display: inline-block;
      vertical-align: middle;
      + li {
        padding: 3px 0 3px 15px;
        margin-left: 10px;
        border-left: solid 1px $kao-darkGrey;
        margin-right: 0;
      }
    }
    @include mobile-only {
      margin-top: 0px;
      text-align: left;
    }
    &--terms, &--contact, &--item {
      color: $kao-white !important;
      text-transform: uppercase;
      font-family: $f-regular;
      &:hover {
        font-family: $f-regular;
        color: $kao-grey !important;
      }
    }
  }

  &__copyright {
    margin-top: 40px;
    color: $kao-grey;
    text-align: right;
    @include small-only {
      margin-top: 10px;
    }
    @include mobile-only {
      text-align: left;
      margin-top: 20px;
    }
  }

  &__separator {
    &--followus {
      display: flex;
      justify-content: center;
      .footer__separatorbg {
        margin:0;
        height: 120px;
        width: 1px;
        background: $kao-darkGrey;
        @include mobile-only {
          height: 1px;
          width: 100%;
          margin: 10px 0 25px 0;
        }
      }
    }
    &--mobile {
      display: none;
      @include mobile-only {
        display: block;
      }
      .footer__separatorbg {
        margin: 5px 0 20px 0;
        height: 4px;
        background: $kao-white;
      }
    }
  }

  &__gettheapp {
    display: flex;
    justify-content: space-between;
    @include mobile-only {
      float: none;
      justify-content:flex-start;
      margin-bottom: 15px;
    }
    &--ctas {
      display: flex;
      justify-content: space-between;
      a:hover {
        opacity: .7;
      }
    }
    &--android, &--ios {
      display: inline-block;
      height: 40px;
      width: 100px;
      border: solid 1px $kao-white;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &--android {
      background-image: url('../images/app-android-big.png');
      margin-right: 14px;
    }
    &--ios {
      background-image: url('../images/app-ios-big.png');
    }
  }
  a{
  	color:$kao-white;
  
  }
  
}
