//this document add styles to mobile header of the project
header {
  .top-bar {
    background-color: $kao-black;
    color: $kao-white;
    height: 50px;
    position: relative;
    z-index: 100;

    &--public {
      margin-bottom: 40px;
    }

    @media(min-width:  $screen-md-min) {
      height: 50px;
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media(min-width: $screen-md-min) {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
    .burger-button {
      width: 65px;
      height: 65px;
      background-color: $primary-color;
      color: $kao-white;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      .icon-kao {
        font-size: 0.9em;
        margin: 15px 0 11px;
      }
      .hamburger-icon {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 0;
        height: 17px;
        width: 2px;
        background-color: rgba(255, 255, 255, 1);
        transition: .3s all;
        transform:rotate(90deg);
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 2px;
          background-color: $kao-white;
          transition: .3s all;
          height: 17px;
        }
        &::before {
          left: 6px;
        }
        &::after {
          right: 6px;
        }
        &.closed {
          background-color: rgba(255, 255, 255, 0);
          &::before {
            left: 0;
            transform: rotate(45deg);
          }
          &::after {
            right: 0;
            transform: rotate(-45deg);
          }
        }
      }

    }
    .content-mobile {
      position: relative;
      .nav-bar-mobile {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-40%);
      }
    }
    .icons-list {
      margin-top: -16px;
      display: flex;
      align-items: center;
      a, a:hover, a:focus , a:visited {
        color: $kao-white;
        font-size: 16px;
        display: inline-block;
        padding: 10px 6px;
      }
      a+a {
        margin-left: 25px;
      }
      .number {
        font-size: 10px;
        font-family: $f-bold;
        position: relative;
        left: 6px;
      }
    }
    &--public {
      .topbar-login {
        li {
          a {
            font-size: 10px;
          }
        }
      }
    }
  }

  .search-mobile{
    display: flex;
    background-color: $kao-black;
    padding: 25px 18px 5px;
    input {
      border-bottom: 1px solid $kao-white;
      border-radius: 0;
      color: #686868;
      font-family: $f-regular;
      width: 100%;
    }
    .icon-search {
      color: $kao-white;
      padding-left: 10px;
    }
    input[type="text"] {
      color: #ffffff;
    }
    &.closed{
      display: none;
    }
  }

  




  /* desktop */
  .search {
    width: 270px;
    color: $kao-white;
    input[type="text"] {
      color: $kao-white;
    }
  }
  .logo {
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .nav-bar {
    &.left {
      ul.topbar-elements {
        padding: 0;
        border: none;
        li {
          margin: 0;
          label, select {
            font-size: 10px;
            display: inline-block;
            width: auto;
          }
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        margin-left: 20px;
        a {
          font-family: $f-regular;
          color: $kao-white;
        }
        &.cart {
          position: relative !important;
          .notification-add-to-cart {
            display: none;
            position: absolute !important;
            color: $kao-white;
            left: inherit;
            right: 0;
            text-align: center;
            padding: 8px 0;
            top: 40px;
              .content {
                background-color: $kao-black;
                max-width: 300px;
                min-width: 230px;
                float: right;
                padding: 10px;
                display: block;

              }
              &:before {
                content: '';
                position: absolute;
                top: -4px;
                left: 86%;
                border-bottom: 12px solid $kao-black;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
              }
          }
        }
      }
    }
    .topbar-elements {
      padding-right: 20px;
      border-right: 1px solid $kao-grey;
      /* language selector */
      select {
        font-size: 10px;
        height: 25px;
        text-transform: uppercase;
        padding-right: 17px;
        background-color: $kao-black;
        background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        color: $kao-white;
        option {
          color: $kao-black;
          &:hover, [selected] {
            color: $kao-white;
          }
        }
      }
      .icon-phone {
        vertical-align: middle;
      }
    }
    .topbar-login {
      .number {
        font-size: 10px;
      }
      &--account, &--form, &--favorites {
        position: relative;
        &.active, &.always-active {
          .icon-account {
            padding-bottom: 3px;
            border-bottom: solid 1px $kao-white;
          }
          .account-panel {
            height: 220px;
            padding: 20px;
          }
          .favorite-panel {
            height: 320px;
            padding: 20px;
            text-align: left;
            a {
              padding-left: 20px;
            }
          }
          .login-panel {
            height: 430px;
            padding: 20px;
          }
        }
        .icon-account {
          cursor: default;
        }
        .account-panel, .login-panel, .favorite-panel {
          transition: all .3s ease;
          overflow: hidden;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          width: 270px;
          height: 0px;
          padding: 0px;
          text-align: center;
          .icon-close {
            float: right;
            cursor: pointer;
          }
          h4 {
            font-size: 14px;
            margin-top: 20px;
          }
          a {
            font-size: 10px;
            display: block;
            line-height: 2.3em;
            font-family: $f-bold;
            &:hover {
              opacity: 0.5;
            }
          }
          &__separator {
            border-top: solid 4px $kao-white;
            margin: 17px 0 27px 0;
          }
          .btn {
            border-color: $kao-white;
            color: $kao-white;
            font-size: 10px;
          }
          .button {
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0 60px;
            text-transform: uppercase;
            font-weight: bolder;
          }
        }
        .login-panel {
          left: auto;
          right: 0;
          transform: translate(20px);
          width: 300px;
          font-family: $f-regular;
          h4 {
            margin: 25px 0 15px 0;
          }
          &__separator {
            margin: 30px 0;
          }
          input[type="text"], input[type="password"] {
            color: $primary-color;
            background-color: transparent;
            color: $kao-white;
            text-transform: lowercase;
            border-bottom: solid 1px $kao-white;
            font-size: 10px;
            padding: 0 0 5px 0;
            font-family: $f-regular;
            height: 20px;
            line-height: 1em;
            margin-bottom: 20px;
            letter-spacing: letter-spacing-photoshop-to-em(100);
            &::placeholder {
              color: $kao-white;
            }
          }
          input[type="password"] {
            margin-bottom: 3px;
          }
          a {
            text-align: left;
            font-family: $f-regular;
            color: $kao-grey;
            text-transform: none;
          }
          &--remember {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            input {
              margin: 0;
            }
            label {
              font-family: $f-regular;
              text-transform: none;
              font-size: 10px;
              margin: 0;
              vertical-align: bottom;
              line-height: 14px;
            }
          }
          .btn-register, .btn-login {
            text-align: center;
          }
          .btn {
            margin-top: 10px;
          }
          
        }
      }
    }
  }
}
