//this document add styles to home card component of the project
.home-card {
  // margin-bottom: 25px;
  @media(min-width: $screen-md-min) {
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-bottom: 25px;
    @media(min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }
  .wrap {
  	display: flex;
  	flex-wrap: wrap;
  }
  .discover-grid {
    height:658px;
  }
  .home-grid-card {
    height:616px;
    @media(max-width: $screen-md) {
      height:561px;
    }
  }

  [class^="col"] {
    margin-bottom: 25px;
    @media(min-width: $screen-md-min) {
      margin-bottom: 0;
    }
  }
}
