//this document add styles to home hero component of the project
.home-hero {
  //overflow: hidden;
  margin-top: 40px;
  //margin-bottom: 25px;
  @media(min-width: $screen-md-min) {
    margin-top: 0;
  }
  .home-carousel {
    .slide {
      position: relative;
      .overlay {
        position: absolute;
        transition: all .7s ease;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0, .4);
      }
      .h1 {
        @media(min-width: $screen-lg) {
          font-size: 60px;
          line-height: 1;
        }
        @media(max-width: $screen-lg) {
          font-size: 53px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .h3 {
        @media(min-width: $screen-lg) {
          font-size: 24px;
        }
        @media(max-width: $screen-lg) {
          width: 80%;
          margin-bottom: 20px !important;
        }
      }
      img {
        width: 100%;
        transition: all .8s ease;
      }
      .content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $kao-white;
      }
      .h3 {
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
  }
  /* override carousel */
  .owl-stage-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: auto;
    .slide {
      @media(max-width: $screen-md) {
        min-height: 420px;
      }
      img {
        @media(max-width: $screen-md) {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  @media(max-width: $screen-md) {
    .owl-buttons {
      display: none;
    }
  }
  .owl-nav {
    // position: relative;
    width: 100%;
    top: 50%;
    height: auto;
    > div {
      background: $kao-lightGrey;
      width: 40px;
      height: 40px;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      text-align: center;
      padding-top: 0;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }
    .owl-next {right: 0;}
    .owl-prev {left: 0;}
  }
  .owl-dots {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
  }
  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    span {
      position: relative;
      z-index: 0;
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      //
      border: 1px solid $kao-white;
    }
    &.active {
      span {background: $kao-white;}
    }
  }
  .owl-controls {
    text-align: center;

  }
}
