//this document add styles to login banner component of the project
.login-banner {
  background: $kao-black;
  padding: 2em 0;
  margin-top: 25px;
  margin-bottom: 25px;
  @media(min-width: $screen-md) {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .h3 {
    color: $kao-white;
    margin: 0;
    font-size: 14px;
    text-align: left;
    margin-left: 15%;
    line-height: 1.429;
    @media(min-width: $screen-md) {
      margin-left: 35%;
    }
  }
  input[type="text"], input[type="password"] {
    border: none;
    background: none;
    color: $kao-white;
    text-transform: lowercase;
    border-bottom: 1px solid $kao-white;
    font-family: $f-regular;
    padding-bottom: 0;
    padding-left: 0;
    height: 22px;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: letter-spacing-photoshop-to-em(100);
    &::placeholder {
      color: $kao-white;
    }
  }
  .cta {
    text-align: center;
    display: inline-block;
  }
  .help-link {
    font-family: $f-regular;
    color: $kao-grey;
    text-transform: none;
    font-size: 12px;
  }
  .remember {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    input {
      margin: 0;
    }
    label {
      font-family: $f-regular;
      text-transform: none;
      font-size: 10px;
      margin: 0;
      vertical-align: bottom;
      line-height: 14px;
    }
  }

  .login-button {
    display: inline-block;
    .desktop-link {
      @media(max-width:  $screen-lg) {
        display: none;
      }
    }
    .mobile-link {
      @media(min-width: $screen-lg) {
        display: none;
      }
    }
  }

  //add styles to error message
  .validation {
    bottom: 100%;
    top: auto;
    padding-top: 0;
    padding-bottom: 12px;

    &:before {
      top: auto;
      left: 50px;
      transform: translateX(0);
      bottom: 0;
      border-bottom: none;
      border-top: 12px solid $kao-darkGrey;
    }
  }
  .validation-email {
    display: none;
  }

}
