//this document add styles to main nav component of the project
/* navigation */
.nav {
  margin-top: 35px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;

  ul, li {
    list-style: none;
  }
  li {
    // Open dropdowns
    &.open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: inherit;
      }
    }
  }
  &__links {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;

  }
  &__link {
    margin: 0 20px;

    > a {
      /*cursor: default;*/
      font-family: $f-bold;
      color: $kao-black;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: .08em;
      padding-bottom: 0px;
      line-height: 2.8em;
    }
    &.active, &.open, &:hover {
      > a {
        border-bottom: 4px solid $kao-black;
      }
    }
    &.open, &:hover {
      .nav__submenu {
        display: block;
      }
    }
  }

  &__submenu {
    left: 0;
    right: 0;
    position: absolute;
    display: none;
    background: $kao-black;
    color: $kao-white;
    padding: 50px 0 0 0;
    height: 550px;

    &__small {
      height: 360px;

      .nav__submenu2 {
        > ul {
          height: auto;
          align-items: flex-start;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .nav__submenu3 {
        width: 45%;
        a {
          color: $kao-white;
          font-size: 16px;
        }
      }
    }
  }

  &__submenu1 {
    > ul {
      padding: 0;
      > li {
        display: block;
        padding-bottom: 20px;
        > a {
          color: $kao-grey;
          font-size: 24px;
        }
        &:hover, &.open {
          > a {
            color: $kao-white;
            border-bottom: solid 4px $kao-white;
            background: transparent;
          }
        }
        &.open {
          .nav__submenu2 {
            display: block;
          }
        }
      }
    }
  }

  &__submenu2 {
    display: none;
    position: absolute;
    background: $kao-black;
    padding-left: 0;
    right: 20px;
    top: 0;
    > ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: space-between;
      height: 450px;
      width: 586px;
      float: right;
      margin: 0;
      padding: 0;
    }
  }

  &__submenu3 {
    width: 170px;
    margin: 0 0 30px 0;
    h2 {
      font-family: $f-bold;
      font-size: 14px;
      border-bottom: solid 1px $kao-grey;
      padding-bottom: 10px;
      margin: 0 0 28px 0;
      padding-left: 10px;
    }
    &--subtitle {
      font-family: $f-regular;
      display: block;
      margin-top: 28px;
    }
    ul {
      padding: 0 0 0 10px;
      li {
        font-size: 12px;
        line-height: 1.6em;
        &:first-child {
          margin-top: 0px;
        }
        a {
          color: $kao-grey;
          text-transform: none;
          font-family: $f-regular;
          font-size: inherit;
          margin: 0;
          padding: 0;
          line-height: inherit;
          &:hover {
            color: $kao-white;
          }
        }
      }
    }
  }
}
