//this document add styles to mobile menu component of the project
.menu-mobile {
  transition: all .4s;
  background: $kao-black;
  color: $kao-white;
  padding: 40px 20px 130px 20px;
  display: block;
  opacity: 1;
  //height: 85vh;
  height: 100vh;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99;
  visibility: visible;
  &.closed {
    //display: none;
    opacity: 0;
    padding: 0;
    height: 0;
    visibility: hidden;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .main-menu {
  }
  a, a:hover, a:focus, a:visited {
    color: $kao-grey;
    + .icon {
      color: $kao-grey;
    }
  }
 .breadcrumb-section {
    display: none;
   }
  .main-menu .nav-link {
    position: relative;
    border-top: 4px solid $kao-grey;
    text-transform: uppercase;
    font-family: $f-bold;
    &:last-child {
      border-bottom: 4px solid $kao-grey;
    }
    > a {
      display: block;
      padding: 7px 10px 5px;
    }
    &__active, &:hover {
      border-top-color: $kao-white;
      border-bottom: 4px solid $kao-white;
      + li {
        border-top: none;
      }
      a {
        color: $kao-white;
        + .icon {
          color: $kao-white;
        }
      }
    }
  }
  .toggle {
    .icon {
      position: absolute;
      top: 10px;
      right: 5px;
      font-size: 10px;
      transition: all .3s;
    }
    &.closed {
      .sub-menu {
        height: 0;
        visibility: hidden;
        transition: all .4s, opacity .1s;
        margin: 0;
        padding: 0;
        opacity: 0;
      }
    }
    &.open {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .sub-menu {
    transition: all .4s, opacity .6s;
    border-top: 1px solid $kao-grey;
    margin-top: 5px;
    padding: 10px;
    li {
      border-top: none;;
      font-size: 12px;
      + li {
        margin-top: 11px
      }
      a {
      font-family: $f-regular;
      text-transform: none;
      color: $kao-grey;
      }
    }
  }
  .secondary-menu {
    padding: 10px 0 10px 10px;
    li {
      padding-top: 11px;
      font-size: 12px;
      a {
      font-family: $f-regular;
      text-transform: none;
      color: $kao-grey;
      }
    }
  }
}
