//this document add styles to modals components of the project
.modal {
  &-title {
    font-size: 24px;
    text-align: center;
  }
  .close {
    color: $kao-darkGrey;
    opacity: 1;
    font-size: 2em;
  }
  // Scale up the modal
  @media (min-width: $screen-sm-min) {
    .modal-dialog {
      margin: 120px auto;
    }
  }

  //add styles to modal beauty visuals
  &--beauty-visuals {
    .modal-title {
      margin-top: 1em;
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $screen-md) {
          margin-bottom: 15px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $kao-black;
          width: 100%;
          height: 100%;
          padding: 40px 30px;
        }
        .logo-kms {
          width: 103px;
          height: 30px;
          path, polyline, rect {
            fill: $kao-white;
          }
        }

        .logo-goldwell {
          width: 200px;
          height: 25px;
          path:not(.dot) {
            fill: $kao-white;
          }
        }
      }
    }
  }

  //add styles to modal quick order
  &--quick-order {
    .modal-content {
      padding: 20px;
    }
  }

  //add styles to modal notification
  &--notification {
    .modal-content {
      padding: 20px;
      background-color: $kao-black;
      color: $kao-white;
    }
    .modal-body {
      text-align: center;
    }
  }

  //add styles to modal color chart
  &--color-chart {
    @media (min-width: $screen-sm-min) {
      .modal-dialog {
        width: 1140px;
      }
    }

    .modal-content {
      background-color: $kao-black;
      color: $kao-white;
    }

    .modal-header {
      button {
        color: $kao-white;
      }
    }

    .modal-body {
      max-height: calc(100vh - 310px);
      overflow-y: auto;
    }
    .color-chart {
      table {
        tr {
          td {
            text-align: center;
            padding: 5px 10px 10px;
          }
        }
      }
    }
  }

  //add styles to modal color detail
  &--color-detail {
    .modal-dialog {
      margin: 240px auto;
      @media (min-width: $screen-sm-min) {
        width: 630px;
      }
    }

    .modal-content {
      background-color: $kao-black;
      color: $kao-white;
      height: 340px;

      input {
        border: none;
        border-bottom: 1px solid $kao-white;
        background-color: transparent;
        color: $kao-white;
        font-family: $f-regular;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $kao-white;

        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: $kao-white;
         opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: $kao-white;
         opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: $kao-white;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
         color: $kao-white;
        }

        &::placeholder { /* Most modern browsers support this now. */
         color: $kao-white;
        }
      }

      select {
        border-color: $kao-white;
        color: $kao-white;
        background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
        background-position: 97% 50%;
        background-repeat: no-repeat;
        option {
          color: $kao-black;
        }
      }

    }

    .modal-header {
      button {
        color: $kao-white;
      }
    }

    .modal-body {
      height: 65%;
      display: block;
      @media (max-width: $screen-md) {
        padding: 55px 50px 0px 50px;
      }
      @media (min-width: $screen-sm-min)  {
        padding: 55px 185px 0px 185px;
      }
    }

    .radio-category {
      display: block;
      margin-bottom: 10px;
      label {
        margin: 0px 28px 10px 0px;
      }
    }

    .input-quantity {
      text-align: center;
      input {
        width: 100%;
        font-family: $f-regular;
      }
    }

    .modal-header {
      height: 15%;
    }

    .modal-footer {
      height: 20%;
    }
  }

  //add styles to modal add favorite
  &--add-favorite {
    @media (min-width: $screen-sm-min) {
      .modal-dialog {
        width: 530px;
      }
    }

    .modal-content {
      background-color: $kao-black;
      color: $kao-white;
      @media (min-width: $screen-sm-min)  {
        .modal-body {
          padding:  20px 70px 50px 70px;
        }
      }

      input {
        border: none;
        border-bottom: 1px solid $kao-white;
        background-color: transparent;
        color: $kao-white;
        font-family: $f-regular;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $kao-white;

        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: $kao-white;
         opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: $kao-white;
         opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: $kao-white;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
         color: $kao-white;
        }

        &::placeholder { /* Most modern browsers support this now. */
         color: $kao-white;
        }
      }

      select {
        border-color: $kao-white;
        color: $kao-white;
        background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
        background-position: 97% 50%;
        background-repeat: no-repeat;
        option {
          color: $kao-black;
        }
      }

      .checkbox {
        & > * {
          margin-bottom: 15px;
        }
        label {
          text-transform: uppercase;
          padding-left: 0px;
        }
      }
      div.buttons {
        text-align: right;
        padding-top: 25px;
        .button {
          color: $primary-color;
        }
      }
    }

    .modal-header {
      button {
        color: $kao-white;
      }
    }
  }

  //add styles to modal save favorite
  &--save-favorite {
    @media (min-width: $screen-sm-min) {
      .modal-dialog {
        margin: 350px auto;
        width: 430px;
        .modal-content {
          background-color: $kao-black;
          color: $kao-white;
          .modal-body {
            margin-top: 45px;
            text-align: center;
            height: 100px;
          }
        }
      }
    }
  }

  //add styles to modal new list
  &--new-list {
    .modal-content {
      background-color: $kao-black;
      color: $kao-white;
      .modal-body {
        .input {
          padding: 0px 40px;
          .input-name {
            margin-bottom: 35px;
            background-color: transparent;
            color: #ffffff;
            border-bottom: 1px solid $kao-white;
            border-radius: 0;
            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
              color: $kao-white;
    
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
             color: $kao-white;
             opacity: 1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
             color: $kao-white;
             opacity: 1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
             color: $kao-white;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
             color: $kao-white;
            }
    
            &::placeholder { /* Most modern browsers support this now. */
             color: $kao-white;
            }
          }
        }
        .buttons {
          text-align: right;
   
        }
      }
    }
  }

  //add styles to modal account
  &--account {
    .modal-content {
      background-color: $kao-black;
    }
    @media (min-width: $screen-sm-min) {
      .modal-dialog {
        width: 330px;
      }
    }
    h4 {
      font-size: 14px;
      color: $kao-white;
      text-align: center;
    }
    p {
      font-size: 12px;
      color: #6f6f6f;
      text-align: center;
    }
  }

//add styles to modal request address
  &--request-address {
    @media (min-width: $screen-sm-min) {
      .modal-dialog {
        width: 530px;
      }
    }

    .modal-content {
      background-color: $kao-black;
      color: $kao-white;
      .modal-body {
        display: grid;
        div {
          padding-top: 30px;
          a {
            float: right;
          }
        }
      }
      @media (min-width: $screen-sm-min)  {
        .modal-body {
          padding:  20px 70px 45px 70px;
        }
      }

      input {
        width: 50%;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid $kao-white;
        background-color: transparent;
        color: $kao-white;
        font-family: $f-regular;
        border-radius: 0;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $kao-white;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: $kao-white;
         opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: $kao-white;
         opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: $kao-white;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
         color: $kao-white;
        }

        &::placeholder { /* Most modern browsers support this now. */
         color: $kao-white;
        }
      }

      div.buttons {
        text-align: right;
        padding-top: 25px;
        .button {
          color: $primary-color;
        }
      }
    }

    .modal-header {
      button {
        color: $kao-white;
      }
    }
  }

  &--modal {
    @media (min-width: $screen-sm-min) {
      .modal-dialog {
        width: 530px;
      }
    }

    .modal-content {
      background-color: $kao-black;
      color: $kao-white;
      .modal-body {
        display: grid;
        h4, p {
          text-align: center;
        }
        
        div {
          padding-top: 20px;
        }
      }
      @media (min-width: $screen-sm-min)  {
        .modal-body {
          padding:  20px 70px 50px 70px;
        }
      }
      div.buttons {
        text-align: right;
        padding-top: 25px;
        .button {
          color: $primary-color;
        }
      }
    }

    .modal-header {
      button {
        span {
          color: $kao-white;
        }
      }
    }
  }

  .button-wrapper {
    text-align: center;
  }
}
