//this document add styles to my account page of the project
.my-account {
  .page-title {
    @media (max-width: $screen-md) {
      margin-top: 10px;
    }
  }
  .my-account-card {
    border-top: 4px solid $kao-black;
    padding-top: 18px;
    margin-bottom: 6px;
    display: inline-block;
    width: 100%;
    .h4 {
      margin-top: 0;
    }
    .my-account-table {
      font-size: 12px;
      table-layout: fixed;
      width: 100%;
      margin-top: 10px;
      .row-table {
        display: block;
        padding: 0;
        .col-md-12 {
          padding: 0;
          @media (max-width: $screen-md) {
            display: flex;
          }
          .col-md-6{
            padding: 0;
            padding-bottom: 15px;
            @media (max-width: $screen-md) {
              width: 50%;
            }
          }
        }
      }
      a {
        font-size: 10px;
      }
    }
  }
  
}
