//this document add styles to nav tabs component of the project
.nav-tabs {
  border-top: 3px solid $nav-tabs-border-color;
  border-bottom: 3px solid $nav-tabs-border-color;
  margin-top: 0;
  margin-bottom: 16px;
  white-space: nowrap;
  display: flex;
  @media (max-width: $screen-sm-max) {
    overflow-x: auto;
    overflow-y: hidden;
  }
  > li {
    margin-bottom: 0;
    > a {
      color: inherit;
      border: none;
      padding: 0.6em 1.4em;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo-kms {
      path, polyline {
        fill: $kao-black;
      }
    }

    .logo-goldwell {
      path:not(.dot) {
        fill: $kao-black;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      position: relative;
      .logo-kms {
        path, polyline, rect {
          fill: $kao-white;
        }
      }

      .logo-goldwell {
        path:not(.dot) {
          fill: $kao-white;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $gray-darker;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 10px);
      }
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: none;
        cursor: default;
      }
    }
  }
}
