//this document add styles to news page of the project
.news-list {
  .list-wrapper {
    margin: 0 0 0;
    overflow: hidden;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 -20px;
    	display: flex;
    	flex-wrap: wrap;
      @media (max-width: $screen-md) {
        margin: 0;
        display: block;
      }
      li {
        +li{
          margin: 50px 0;
          @include media-query(medium) {
            margin: 0;
          }
        }
        @include media-query(medium) {
          padding: 20px;
        }
        a {
          @media (max-width: $screen-md) {
            display: block;
          }
          display: block;
          background: $kao-black;
          color: $kao-white;
          position: relative;
          z-index: 1;
          text-transform: none;
          font-family: $f-regular;
          height: 100%;
          display: grid;
          flex-direction: column;
          &:hover {
            figure img {
              transform: translate(-50%, -50%) scale(1.05);
            }
          }
        }
        figure {
          position: absolute;
          left: 0;
          width: 100%;
          overflow: hidden;
          z-index: 2;
          height: 220px;
          img {
            max-width: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: all .8s ease;
            min-width: 100%;
            min-height: 100%;
          }
        }
        .news-content {
          padding: 29px 103px 39px;
          position: relative;
          border-bottom: 4px solid $kao-red;
          min-height: 345px;
          overflow: hidden;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          @media (max-width: $screen-lg) {
            padding: 5% 15%;
          }
          @media (max-width: $screen-md) {
            min-height: 0;
          }
          time {
            color: $kao-grey;
            text-align: center;
            display: block;
            line-height: 1;
            margin-bottom: 12px;
          }
          h1 {
            margin: 0;
            line-height: 1;
            text-align: center;
            @include media-query(small) {
              font-size: 24px;
            }
          }
          h2 {
            text-align: center;
            font-size: 26px;
            @include media-query(small) {
              font-size: 20px;
              margin-top: 10px;
            }
          }
          .news-text {
            font-size: 12px;
            margin-top: 23px;
            line-height: 16px;
            padding-bottom: 60px;
          }
          .news-link {
            background: $kao-black;
            position: absolute;
            left: 103px;
            right: 103px;
            bottom: 0;
            padding: 20px 0 45px;
            color: $primary-color;
            text-transform: uppercase;
            font: 10px $f-bold;
            border-top: 1px solid $kao-grey;
            margin: 0 -1px;
            @media (max-width: $screen-lg) {
              left: 15%;
              right: 15%;
            }
          }
        }
        &:first-child {
          a {
            padding-left: calc(50% - 20px);
            @media (max-width: $screen-md) {
              padding: 0;
            }
          }
          figure {
            height: 100%;
            width: calc(50% - 20px);
            @media (max-width: $screen-md) {
              position: static;
              width: auto;
              height: auto;
              img {
                position: relative;
                transform: translate(-50%, 0) scale(1) !important;
                top: 0;
              }
            }
          }
          h1 {
            margin-top: 15px;
            text-align: left;
          }
          time, h2 {
            text-align: left;
          }
          .news-content {
            padding: 39px 75px;
            min-height: 600px;
            @media (max-width: $screen-lg) {
              padding: 5% 15%;
            }
            @media (max-width: $screen-md) {
              min-height: 0;

            }
          }
          .news-text {
            margin-top: 30px;
            line-height: 20px;
          }
        }
        &:nth-child(n+2) {
          h1 {
            font-size: 24px;
          }
          h2 {
            margin-top: 0;
          }
        }
        @include media-query(medium) {
          &:nth-child(2n+2) {
            a {
              padding-bottom: 220px;
            }
            figure {
              bottom: 0;
              top: auto;
            }
          }
          &:nth-child(2n+3) {
            a {
              padding-top: 220px;
            }
            figure {
              top: 0;
            }
          }
        }
        + li {
          @include media-query(medium) {
            float: left;
            width: 50%;
          }
          figure {
            @include media-query(small) {
              display: none;
            }
          }
        }
      }
    }
  }
  .load-more {
    text-align: center;
  }
}
