//this document add styles to numbers list component of the project
.number-list {
  @include media-query(small){
    margin-top: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      overflow: hidden;
      .big-number {
        text-align: center;
        font: 48px $f-bold;
        @include media-query(small) {
          width: 50px;
          margin-right: 10px;
          float: left;
          line-height: 1;
        }
      }
      @include media-query(small) {
        .item-content {
          overflow: hidden;
        }
        +li {
          margin-top: 10px;
        }
      }
    }
    @include media-query(medium){
      margin: 0 -15px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 33.33333%;
        padding: 0 15px;
        margin: 0 0 40px;
        .big-number {
          text-align: center;
          display: block;
          border-bottom: 4px solid $kao-black;
          margin-bottom: 10px;
        }
        .item-content {
          font-size: 12px;
        }
      }
    }
  }
  &.inverted {
    color: $kao-white;
    ul li .big-number {
      border-color: $kao-white;
    }
  }
}