//this document add styles to order details components of the project
.order-details {
  .page-title {
    @media (max-width: $screen-md) {
      margin-top: 20px;
    }
  }
  .current-order + .button-wrap {
    text-align: right;
    margin-top: 20px;
  }
}
.order-header {
  margin: 30px 0;
  color: $kao-white;
  padding: 12px 20px 14px;
  background: $kao-black;
  @include media-query(small) {
    .row > div:nth-child(n+3) {
      margin-top: 17px;
    }
  }
  p {
    margin: 0;
    height: 50px;
    strong {
      text-transform: uppercase;
      color: $kao-grey;
      font-family: $f-bold;
      font-weight: normal;
      font-size: 10px;
    }
    span {
      display: block;
      line-height: 1;
      &::before {
        content: '';
        display: inline-block;
        height: 24px;
      }
    }
    &.order-number span{
      font-size: 22px;
      font-family: $f-bold;
    }
    &.order-total span,
    &.order-status span {
      font-family: $f-bold;
    }
  }
}
.order-list.order-resume {
  table {
    td {
      width: auto;
    }
  }
}