//this document add styles to order history page of the project
.order-history{
  .order-info.well {
    @media (max-width: $screen-md) {
      padding: 15px;
    }
    padding: 15px 0;
    background: $kao-black;
    margin:20px 0;
    overflow: hidden;
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    p{
      color: $kao-white;
      font-size: 14px;
      font-family: $f-bold;
      text-transform: uppercase;
      margin: 0;
      @include media-query(small){
        padding: 0;
        a {
          display: block;
        }
      }
    }
  }
}
