//this document add styles to order history page of the project
.order-history {
  .page-title {
    @media (max-width: $screen-md) {
      margin-top: 20px;
    }
  }
}
.table-wrap {
  table {
    width: 100%;
    border-bottom: 4px solid $kao-black;
    margin: 30px 0 45px;
    thead {
      tr {
        border-bottom: 4px solid $kao-black;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $kao-lightGrey;
      }
    }
    th {
      text-align: left;
      font-size: 10px;
      font-family: $f-bold;
      text-transform: uppercase;
      color: $kao-black;
      padding: 10px 0 10px 10px;
      &.th-position-r{
        text-align: right;
      }
      &.th-position-c{
        text-align: center;
      }
      &:first-child {
        padding-left: 0;
      }
      &.total {
        padding-left: 25px;
      }
    }

    td {
      text-align: left;
      font-size: 10px;
      color: $kao-black;
      padding: 10px 0 10px 10px;
      &.td-position-r{
        text-align: right;
        width: 15%;
        input{
          float: right;
        }
      }
      &.td-position-c{
        text-align: center;
        width: 15%;
        input{
          margin: 0 auto;
        }
      }
      &.td-position-total{
        .price {
          text-align: left;
        }
      }
      &:first-child {
        padding-left: 0;
      }

      .price {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        .currency {
          margin-right: 25px;
        }
      }
      .price-cart {
        width: 55px;
        float: left;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 20px;
        .currency {
          float: left;
        }
      }

      a.icon {
        color: $primary-color;
        font-size: 12px;
      }
      button.link {
        padding: 0;
      }
    }

    tr.has-tracking td {
      font-family: $f-bold;
    }
    img {
      padding: 0 10px;
      max-height: 50px;
    }
    .product-name {
      font-family: $f-bold;
      display: block;
      text-transform: uppercase;
    }
    .product-color {
      font-family: $f-bold;
      display: block;
    }
    .form-control {
      text-align: right;
      max-width: 60px;
      font-size: 12px;
      font-family: $f-regular;
    }
    .icon {
      font-size: 13px;
      color: $primary-color;
    }
  }

  &.bg-grey {
    background: $kao-lightGrey;
    table {
      border: none;
    }
  }
}

//this document add styles to order table component of the project
.order-table {
  .table-bottom {
    margin: 20px 0;
    text-align: right;

    ul {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 0 0 5px;

      li {
        display: inline-block;
        vertical-align: middle;

        + li {
          margin-left: 36px;
        }

        a {
          font-size: 10px;
          text-transform: uppercase;

          .icon {
            font-size: .8em;
            &.icon-chevron-left {
              margin-right: 10px;
            }
            &.icon-chevron-right {
              margin-left: 10px;
            }
            &.icon-favorite_border {
              font-size: 18px;
            }
          }
          &.add-favorite {
            font-size: 15px;
          }
        }
      }
    }

    .table-pages {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;

      label {
        font-size: 12px;
        margin: 0;
      }

      select {
        display: inline-block;
        vertical-align: middle;
        width: 95px;
      }
    }
  }
}
