//this document add styles to product list component of the project
.product-list {
  border-bottom: 5px solid $gray-darker;
  padding-bottom: 10px;

  &__filters {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    label {
      white-space: nowrap;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  &__filter {
    display: flex;
    margin-left: 20px;
    align-items: center;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: auto;
    }

    .form-control{
      width: auto;
      &.filter-select {
        width: 125px !important;
      }
    }
    
    .product-list__filter {
      margin-left: 20px;
    }

    .icon {
      font-size: 30px;
      border-right: 1px solid $gray-lighter;


      &:last-child {
        border-right: none;
      }

      .icon-list,
      .icon-grid {
        color: $gray-lighter;
        display: inline-block;
        &.active {
          color: $kao-black;
        }
      }
    }
  }
  &__header {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__title {
    margin: 0;
  }
  &__tags {
    margin-left: 50px;
  }
   .wrap {
    display: flex;
    flex-wrap: wrap;
    > [class^="col"] {
      margin-bottom: 40px;
    }
    .grid-item {
      display: flex;
      flex-direction: column;

      &.grid-item--product__list {
        flex-direction: row;
        height: 300px;
      }
      
      margin-bottom: 0;
      .grid-item__body {
        flex: 1;
      }
    }
  }
  .grid-item {
    margin-bottom: 40px;
  }
}


.add_to_cart_form{
	.icon-add{
		font-size:25px;
	}
}