//this document add styles to product information component of the project
.product-information {
  margin-top: 30px;
  margin-bottom: 30px;
  @include medium {
    margin-top: 0;
  }

  .back-btn {
    position: relative;
    z-index: 1;
    font-size: 10px;
    text-transform: uppercase;

    [class^="icon"] {
      font-size: .5em;
      margin-right: .5em;
    }
  }
  /* generics */
  .grouped {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    a {
      font-size: 10px;
      letter-spacing: letter-spacing-photoshop-to-em(100);
    }

    & > *:first-child {
      max-width: 120px;
    }
  }

  .grouped {
    .grouped-col {
      margin-right: 15px;
      justify-content: flex-start;

      > * {
        display: block;
      }
    }
  }

  .product-title {
    margin-bottom: 30px;

    h1 {
      margin-bottom: 0;
      line-height: 1em;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.3em;
    }

    .subtitle {
      text-transform: uppercase;
      color: $kao-grey;
      font-family: $f-bold;
    }

    img {
      max-width: calc(41.66667% - 18px);
    }
  }

  .section {
    padding-top: 20px;
    border-top: 4px solid $kao-black;
    font-size: 12px;
  }

  .section-information {
    .grouped > * {
      flex: 2;
    }

    h4 {
      margin-top: 0;
    }
  }

  .product-visual {
    text-align: center;
    position: relative;
    @include medium {
      margin-top: -137px;
    }

    .details-img {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      max-width: 105px;

      img {
        margin-bottom: 7px;
      }
    }

    .owl-carousel {
      height: 462px;

      img {
        display: none;
      }

      .owl-item {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 462px;
        flex-direction: column;

        img {
          display: block;
          width: auto;
          max-height: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .download {
    text-align: center;
    margin-top: 20px;
    max-width: 225px;
    margin-left: auto;
    margin-right: auto;

    a {
      font-size: 10px;
      letter-spacing: letter-spacing-photoshop-to-em(100);
    }
  }

  .section-details {
    line-height: 1.5em;
    @media(max-width: $screen-md) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h4 {
      margin-top: 0;
    }

    ul {
      font-size: 12px;
      letter-spacing: letter-spacing-photoshop-to-em(50);
      padding-left: 1.2em;
    }

    li {
      margin-bottom: 10px;
    }

    .form-control {
      font-family: $f-regular;
      font-size: 10px;
    }
  }

  .section-order {
    margin-top: 15px;

    select {
      min-width: 50px;
    }

    a {
      font-size: 10px;
      letter-spacing: letter-spacing-photoshop-to-em(100);
    }

    h4 {
      margin-top: 0;
    }

    .form-control {
      font-family: $f-regular;
      font-size: 10px;
    }

    .grouped-col {
      max-width: 50px;
    }

    .colorpicker {
      [class^="icon"] {
        font-size: 1.4em;
        margin-right: .3em;
        // vertical-align: middle;
      }
    }
  }

  .section-last {
    margin-top: 15px;
    padding-top: 10px;

    .grouped {
      @media(max-width: $screen-md) {
        display: block;
      }
    }

    .date {
      letter-spacing: letter-spacing-photoshop-to-em(50);
    }

    .actions {
      text-align: right;
      float: right;
    
      a {
        font-size: 18px;
        letter-spacing: letter-spacing-photoshop-to-em(100);
        margin: 5px 25px 9px 0px;
      }

      .grouped {
        margin-bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 50%;
      }
    }
  }

  .show-more {
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 10px;
    letter-spacing: letter-spacing-photoshop-to-em(100);
    position: relative;

    &.collapsed {
      .icon {
        transform: translateY(-50%);
      }
    }

    .icon {
      font-size: .5em;
      //padding-right: 5px;
      position: absolute;
      left: 0;
      top: 50%;
      transition: all .3s;
      transform: translateY(-50%) rotate(180deg);
    }

    &.open .icon {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
    }

    .link {
      padding-right: 25px;
    }

    h4 {
      margin-top: 0;
    }
  }

  .section-more {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 4px solid $kao-black;

    iframe {
      max-width: 100%;
    }

    li,
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      color: $primary-color;
      margin-bottom: 10px;
      letter-spacing: 0;
      cursor: pointer;

      .icon {
        padding-right: 10px;
      }
    }

    .section-file {
      border-top: 4px solid $kao-black;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
}
