//this document add styles to promo banner component of the project
.promo-banner {
  display: block;
  position: relative;
  cursor: pointer;
  height: 0;
  width: 100%;
  padding-bottom: 52.3%;
  overflow: hidden;
  @media(min-width: $screen-md-min) {
    padding-bottom: 37.5%;
  }
  &:hover {
  .overlay {
      background: rgba(0,0,0, .2);
    }
    img {
      transform: scale(1.015);
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .35);
    transition: all .4s ease-in;
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $kao-white;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      text-align: center;
    }
    .h1 {
      margin-bottom: 0;
        @media(min-width: $screen-md-min) {
          margin-bottom: 20px;
        }
    }
    .h3 {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  img {
    /* to remove -- fix with specific mobile img*/
    min-width: 140%;
    margin-left: -20%;
    transition: all .8s ease;
    @media(min-width: $screen-md-min) {
      width: 100%;
      min-width: 100%;
      margin: 0;
    }
  }
}
