//this document add styles to promotions products component of the project
.promotions-products {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .grid-item--card {
    height: 531px;
  }
  .grid-item--card .grid-item__body h3 {
    margin-bottom: 0;
  }
  .owl-carousel {
    position: relative;
    .owl-stage-outer {
      z-index: 99;
    }
    .owl-nav {
      z-index: 100;
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: top;
      top: 45%;
      
      > div {
        
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 100;
        cursor: pointer;
        text-align: center;
        padding-top: 15px;
        letter-spacing: 0;
        font-size: 10px;
        transition: all .5s ease;
        background: $kao-white;
        &:hover, &:active {
          opacity: .80;
        }
      }
      
      .owl-next {right: 0;}
      .owl-prev {left: 0;}
      
    }
  }

}

