//this document add styles to quick order page of the project
.quick-order{
  margin-bottom: 30px;
}

//add styles to add item component
.add-items {
  padding: 20px;
  background: $kao-black;
  color: $kao-white;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .upload-btn {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    @include media-query(medium) {
      float: right;
    }
    label {
      color: $primary-color;
      padding: 0;
      margin: 0;
      font-size: 10px;
      cursor: pointer;
    }
    input {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
  .add-search {
    flex: 1;
    margin-right: 50px;
    min-width: 300px;
    h2 {
      margin: 0 10px 0 0;
      @include media-query(small) {
        font-size: 18px;
        float: left;
      }
      @include media-query(medium) {
        margin-right: 30px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .form-wrap {
      @include media-query(medium) {
        display: inline-block;
        vertical-align: middle;
       .icon{
            cursor: pointer;
        }
      }
      input[type="text"]{
        font-family: $f-regular;
        font-size: 10px;
        border-bottom: 1px solid $kao-white;
        max-width: 100%;
        width: calc(100% - 25px);
        color: $primary-color;
        letter-spacing: letter-spacing-photoshop-to-em(100);
        &::placeholder {
          color: $kao-white;
        }
        @include media-query(medium) {
          width: 400px;
        }
      }
      .dropdown {
        @include media-query(small){
          width: 100%;
        }
        .dropdown--toggle {
          z-index: 1;
          ul.dropdown--list {
            padding-left: 0px;
            .product-item {
              list-style-type: none;
              a {
                display: flex;
                .icon {
                  width: 20%;
                  .bg-white {
                    background-color: $kao-white;
                    width: 85%;
                    margin-top: 5px;
                    img {
                      height: 35px;
                      margin: 7px;
                    }
                  } 
                }
                .details {
                  display: grid;
                  width: 75%;
                  margin-top: 5px;
                  text-align: left;
                  span {
                    &.product-name {
                      color: $kao-white;
                      text-transform: capitalize;
                      font-size: 12px;
                    }
                    &.product-link {
                      color: $primary-color;
                      font-size: 9px;
                    }
                    
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//ad styles to order list component
.order-list {
           .js-product-container
           {
             tr{
                border-bottom: 1px solid #ebebeb;
             }
           }
     table {
      
                thead{
                    
                  th{
                      background-color: #FFFFFF;
                     } 
                      
                    }
    td {
      border-color: $kao-lightGrey;
      padding-top: 25px;
      padding-bottom: 25px;
      vertical-align: top;
      &:first-child {
        width: 60px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      &:nth-child(3){
        width: 11%;
      }
      &:nth-child(4){
        width: 15%;
      }
      &:nth-child(5){
        width: 20%;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      &:nth-child(6){
        width: 17%;
      }
      &:nth-child(7){
        width: 10%;
        padding-right: 15px;
      }
    }

    @include media-query(small) {
      display: block;
      thead {
        display: none;
      }
      tbody {
        display: block;
      }
      tr {
        display: block;
        background: $kao-lightGrey;
        overflow: hidden;
        padding: 20px;
        position: relative;
        + tr {
          margin-top: 10px;
        }
        td {
          display: block;
          border: none;
          width: auto;
          padding: 0;
          &:nth-child(n+2){
            width: auto;
          }
          &:first-child {
            float: left;
            margin-right: 60px;
          }
          &:nth-child(2) {
            overflow: hidden;
          }
          &:nth-child(3) {
            overflow: hidden;
          }
          &:nth-child(4) {
            display: inline-block;
            vertical-align: middle;
          }
          &:nth-child(5) {
            display: inline-block;
            vertical-align: middle;
          }
          &:nth-child(6)::before {
            content: 'Total: ';
            display: inline-block;
            vertical-align: middle;
            font-family: $f-bold;
            margin-left: 50px;
            margin-right: 10px;
            padding-left: 70px;
          }
          .price {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            .currency {
              float: none;
            }
          }
          .icon {
            position: absolute;
            top: 20px;
            right: 20px;
          }
        }
      }
    }
  }
}
//add style to autoComplete quickOrder drop down
.dropdown--list-container
 {          padding: 15px;
           text-align: center;
           transition: max-height ease .2s;
          background-color: #222222;
   ul.dropdown--list
   {  
          padding-left: 0px;
          transition: max-height ease .2s;
          background-color: #222222;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
    .product-item
      {
           list-style-type: none;
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
            display: flex;
       .icon   {
                 width: 20%;
                 .bg-white {
                            background-color: #ffffff;
                              width: 85%;
                               margin-top: 5px;
                                      img {
                                            height: 35px;
                                            margin: 7px;
                                           }
                            }
                }
        .details{
                    display: grid;
                    width: 75%;
                    margin-top: 5px;
                    text-align: left;
                    font-family: "AvenirNextLTPro-Bold";
                    
                    span.product-name {
                                        color: #ffffff;
                                        text-transform: uppercase;
                                        font-size: 12px;
                                      }
                    span.product-link {
                                        color: #17987A;
                                        font-size: 9px;
                                         text-transform: uppercase;
                                        }
                 }
            ui-state-active:hover
           {
              background: none;
	          border: none;
	          background-color:none;
	        } 
       }
    
    }
    .ui-widget-content
    {
	  border: none;
	     .ui-state-active
         {
	       border: #222222;
	      background-color: #222222;
         }
        }
    .ui-menu{
            .ui-menu-item-wrapper
            {
              padding: 0px 0px 0px 0px;
            }
          }
}    