//this document add styles to reassurance components of the project
.reassurance {
  margin-top: 50px;
  text-align: center;
  border-top: 4px solid $kao-black;
  .row > div {
    padding-top: 15px;
  }
  h4{
    margin: 15px 0 5px;
  }
  p {
    color: $kao-darkGrey;
    font-size: 12px;
  }
}