//this document add styles to register page of the project
.register {
  margin-bottom: 25px;
  @media(min-width: $screen-md-min) {
    margin-bottom: 50px;
  }
  .register-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-flow: column;
    .cta {
      min-width: 300px;
      text-align: right;

      a {
        font-size: 12px;
        margin-left: 0;
        margin-right: 20px;
        cursor: pointer;
      }
    }
    @media(min-width: $screen-md-min) {
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-end;
      h1 {
        margin-bottom: 0;
      }
      .cta {
        a {
          margin-left: 20px;
          margin-right: 0;
        }
      }
    }
  }
  .section-registration {
    background: $kao-black;
    color: $kao-white;
    text-align: center;
    position: relative;
    height: 0;
    padding-bottom: 96.55%;
    overflow: hidden;
    @media(max-width: $screen-md) {
      margin-bottom: 20px;
      height: auto;
      padding-bottom: 0;
    }
    .content {
      padding: 2em 3em;
      position: relative;
      z-index: 1;
      background: $kao-black;
      .inner {
        max-width: 376px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.register-member {
        img {
          bottom: 0;
          left: 0;
        }
    }
    &.register-new {
      h2 {
        position: absolute;
        top: -50%;
        text-align: center;
        right: 0;
        left: 0;
        @media(max-width: $screen-lg) {
          top: -40%;
        }
        @media(max-width: $screen-sm) {
          top: -60%;
        }
        @media(max-width: $screen-xs) {
          top: -30%;
        }

      }
      .content {
        margin-top: 39.52%;
      }
      img {
        top: 0;
        left: 0;
      }
      .muted {
        color: $kao-grey;
        font-size: 10px;
        @media(min-width: $screen-lg-min) {
          margin-bottom: 20px;
        }
      }
    }
    a {
      font-family: $f-regular;
      color: $kao-grey;
      text-transform: none;
      font-size: 12px;
    }
    img {
      position: absolute;

      width: 100%;
    }
    .information {
      font-size: 10px;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .validation-member {
      display: none;
    }
  }
  h2 {
    margin-bottom: 1.5em;
    @media(min-width: $screen-md) {
      font-size: 24px;
    }
  }
  .grouped {
    text-align: left;
    margin-bottom: 1.5em;
  }
  input {
    border: none;
    background: none;
    color: $primary-color;
     text-transform: none;
    border-bottom: 1px solid $kao-white;
    font-family: $f-regular;
    padding-bottom: 0;
    padding-left: 0;
    height: 22px;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: letter-spacing-photoshop-to-em(100);
    @media(min-width: $screen-lg-min) {
      margin-bottom: 15px;
    }
    &::placeholder {
      color: $kao-white;
    }
  }
  a.btn {
    color: $kao-white;
    text-transform: uppercase;
    font-family: $f-bold;
  }
  .scrollable{
      overflow:auto;
	  max-height:100px;
	  text-align:left;
  }
  input[type=radio]{
  vertical-align:-7px;
  }
  
   .section-registration {
  	label{
  		cursor:pointer;
  	}
  
  }
 .err_register{
 color:#FF0000;
 display:block;
 position:relative;
 left:50%;
 top:60%;
 }
}
