//this document add styles to others products component of the project
.others-products {
  margin-top: 40px;
  margin-bottom: 40px;
  h2 {
    margin-bottom: 32px;
    margin-top: 0;
    font-size: 28px;
  }
  .product-item  {
  }
}
.related-products {
  &__items {
    display: flex;
    justify-content: space-between;
    .product-item {
      display: inline-block;
      width: 170px;
      @include medium-only {
        width: 140px;
      }
    }
  }
}
.also-like {

}
