//this document add styles to search result item component of the project
.search-results-item {
  background: $kao-lightGrey;
  text-align: center;

  .details {
    background: $kao-black;
    color: $kao-white;
    padding: 40px 20px;
    .title {
      text-transform: uppercase;
      font-family: $f-bold;
      color: $kao-white;
    }
    .subtitle {
      font-family: $f-regular;
      color: $kao-grey;
      font-size: 12px;
      text-transform: none;
      margin-bottom: 30px;
    }
    .link {
      font-family: $f-regular;
      font-size: 10px;
      a, a:hover, a:visited {
        color: $primary-color;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
}
