//this document add styles to searche results page of the project
.search-results {
  margin: 40px 0 50px 0;
  &__header {
    h1 {
      margin: 0 0 0px 0;
    }
    &--key {
      font-family: $f-bold;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media(min-width:  $screen-md-min) {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &--sort {
      margin-bottom: 10px;
      @media(min-width:  $screen-md-min) {
        float: right;
        display: inline-block;
        vertical-align: middle;
      }
      label {
        font-size: 12px;
      }
      select.form-control {
        display: inline-block;
        width: auto;
        height: 30px;
      }
    }
    &--bottomline {
      border-bottom: solid 4px $kao-black;
      margin-top: 7px;
      clear: both;
    }
  }
  &__products, &__common {
    h2 {
      margin: 50px 0 30px 0;
    }
    .slider {
      button {
        font-size: 10px;
        margin-top: 15px;
      }
      img {
        width: auto;
      }
    }
    .allresultsbtn {
      margin: 30px 0 0 0;
      background-color: $primary-color;
      border: none;
      color: $kao-white;
      font-family: $f-regular;
      font-size: 10px;
      height: 40px;
      line-height: 44px;
      vertical-align: middle;
      padding: 0 25px;;
    }
  }

  .load-more {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -50px;
  }

  .list-items-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
