//this document add styles to shop page of the project
.shop {
  h1 {
    @media (max-width: $screen-md) {
      margin-top: 20px;
    }
  }
  .collection-banner {
    margin: 30px 0 50px;
    img {
      width: 100%;
    }
    &.banner--goldwell {
      border-bottom: 8px solid $kao-red;
    }
  }
  .others-products h2 {
    margin-bottom: 20px;
  }
  .icon-calendar, .icon-clock {
    font-size: 1.1em;
  }
  &.beauty-visuals {
    h1 {
      @media (max-width: $screen-md) {
        margin-top: 35px;
      }
    }
  }
  .load-more {
    text-align: center;
    margin-top: 30px;
  }
}