//this document add styles to side menu component of the project
.nav-left {
  @media (max-width: $screen-sm-max) {
    padding: 0;
    margin-bottom: 30px;  
  }
}
.side-menu-container {
  position: relative;
  @media (max-width: $screen-sm-max) {
    margin-top: 0;
    padding: 40px 20px 20px 20px;
    background: $kao-black;
  }
}
.side-menu-switcher {
  & &__link {
    display: block;
    line-height: 1;
    padding: 10px;
    cursor: pointer;
    color: $kao-white;
    background: $kao-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    border-top: 4px solid $kao-white;
    border-bottom: 4px solid $kao-white;
    .icon {
      transition: all .5s;
      font-size: .4em;
    }
  }
}
.side-menu {
  @media (max-width: $screen-sm-max) {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    padding-top: 40px;
    background: $kao-black;
    & &__close {
      color: $kao-grey;
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .side-menu-item {
    .icon {
        position: absolute;
        right: 17px;
        top: 9px;
        color: $kao-white;
        @include media-query(medium) {
          display: none;
        }
    }
    &.side-menu-item {
      margin: 0;
      padding: 0;
      border: none;
      background: none;
    }
    &:first-child {
      border-top: 4px solid $kao-black;
      @media (max-width: $screen-sm-max) {
        border-top-color: $kao-white;
      }
    }
    &__header {
      transition: all .3s ease;
      position: relative;
    }
    &__link {
      display: block;
      line-height: 1.4;
      padding: 10px 10px 5px;
      cursor: pointer;
      color: $kao-white;
      background: $kao-black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 4px solid $kao-black;
      &.collapsed {
        color: $kao-black;
        background: transparent;
        border-bottom: 4px solid $kao-black;
        @media (max-width: $screen-sm-max) {
          color: $kao-white;
          border-bottom-color: $kao-white;
        }
        .icon {
          transform: none;
        }
      }
      &.active, &:hover {
        opacity: 1;
        color: $kao-white;
        background: $kao-black;
        @media (max-width: $screen-sm-max) {
          color: $kao-white;
          border-bottom-color: $kao-white;
        }
      }
      .icon {
        transition: all .5s;
        font-size: .4em;
        transform: rotate(180deg);
      }
    }
    &__body {
      transition: all .3s ease;
      background: $kao-black;
      border-bottom: 1px solid $kao-grey;
      @media (max-width: $screen-sm-max) {
        border-bottom: 4px solid $kao-white;
      }
      &:before {
        content: '';
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid $kao-grey;
      }
      &.collapsed {
        border-top-color: transparent;
        background: transparent;
      }
      > .inner {
        padding: 20px 10px;
      }
      .sub-menu {
        & > :first-child {
          margin-top: 0;
        }
        & > :last-child {
          margin-bottom: 0;
        }
        &__item {
          &--active {
            color: $kao-white!important;
            a {
              color: $kao-white!important;
              //border-bottom: 1px solid $kao-white;
            }
          }
          &--lvl1 {
            margin: 0.8em 0;
            &, a {
              font-family: $f-bold;
              color: $kao-grey;
              // color: $kao-white;
              text-transform: uppercase;
            }
            + .sub-menu__item--lvl2 {
              margin-top: 1em;
            }
          }
          &--lvl2 {
            font-size: 12px;
            margin: 1.5em 0 0.5em 0;
            &, a {
              font-family: $f-regular;
              color: $kao-white;
              text-transform: uppercase;
            }
          }
          &--lvl3 {
            font-size: 12px;
            margin: 0.3em 0;
            &, a {
              font-family: $f-regular;
              color: $kao-grey;
              text-transform: none;
            }
            a {
              &:hover, &:focus {
                color: $kao-white;
              }
            }
          }
        }
      }
    }
  }
  .side-navigation {
    border-top: 4px solid $kao-black;
    .side-link {
      transition: all .3s ease;
      border-bottom: 4px solid $kao-black;
      padding: 6px 10px 4px 10px;
      position: relative;
      a, .link {
        color: $kao-black;
        cursor: pointer;
      }
      .icon {
        transition: all .5s;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: .4em;
      }
      .sub-menu {
        //display: none;
        transition: all .4s ease;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
      }
      &.active {
        background: $kao-black;
        color: $kao-white;
        a, .link {
          color: $kao-white;
        }
        .icon {
          transform: rotate(180deg);
        }
        .sub-menu {
          //display: block;
          margin-top: 5px;
          border-top: 1px solid $kao-grey;
          padding-bottom: 10px;
          height: auto;
          opacity: 1;
          visibility: visible;
          transition: all .5s ease-in;
          transition: opacity .4s ease;
          li {
            padding-top: 15px;
            font-size: 10px;
            a {
              font-family: $f-regular;
              text-transform: none;
              color: $kao-grey;
            }
          }
        }
      }
    }

  }
}
