//this document add styles to scpecial offer component of the project
.special-offer {
  background: $kao-lightGrey;
  text-align: center;
  a, a:hover, a:visited {
    color: $kao-white;
    text-decoration: none;
    display: block;
  }
  img {
    display: block;
    width: 100%;
    text-align: center;
  }
  .details {
    border-top: solid 4px $kao-red;
    background: $kao-black;
    color: $kao-white;
    padding: 40px 10px;
    .title {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
      font-size: 24px;
    }
    .info {
      font-family: $f-regular;
      color: $kao-grey;
      font-size: 12px;
      opacity: .8;
    }
  }
}
