//this document add styles to stepper component of the project
.stepper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;



  &--content {
    text-align: center;
  }

  &--list {
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 100%;
    list-style: none;
    display: inline-block;
  }

  &--divider {
    width: calc(100% / 5 - 10px);
    border-bottom: 2px solid $kao-black;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -12px;

    @media (max-width: $screen-sm-max) {
      width: calc(100% / 5 - 55px);
    }
  }

  &--list--item {
    width: calc(100% / 5);
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 14px;
    position: relative;
    @media (max-width: $screen-sm-max) {
      width: calc(100% / 5 + 30px);
      font-size: 12px;
    }
    &.active {
      &:before {
        display: block;
        padding-bottom: 40%;
        width: 40%;
        height: 0;
        border-radius: 50%;
        background-color: #ddd;
        content: "";
        position: absolute;
        top: 3px;
        left: 36px;
        z-index: -1;
      }
    }
  }

  &--list--item--number {
    border-radius: 30px;
    text-align: center;
    padding: 15px 20px;
    border: 2px solid $kao-black;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;

    @media (max-width: $screen-sm-max) {
      padding: 5px 10px;
    }

  

  }
}
