//this document add styles to trademark banner component of the project
.trademark-banner {
  margin-top: 25px;
  @media(min-width: $screen-md-min) {
    margin-top: 20px;
  }
  //styles the three sections
  .content-link {
    font-family: $f-regular;
    .content {
      padding: 2em;
      background: $kao-black;
      color: $kao-white;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
      margin-bottom: 25px;
      @media(min-width: $screen-md-min) {
        margin-bottom: 0;
      }
      //styles the logo
      .image-container {
        height: 30px;
        margin-bottom: 0.5em;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}
