//this document add styles to general validation errors component of the project
.validation {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  padding-top: 12px;
  min-width: 300px;
  display:none;
  //style arrow
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-bottom: 12px solid $kao-darkGrey;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  &.hidden {
    display: none;
  }
  
  &.error {
    display: block;
  }

  //styles container validation
  .validation-container {
    padding: 20px 30px 15px;
    background-color: $kao-darkGrey;
    text-align: center;
  }

  //styles title
  .validation-title {
    margin: 0;
    font-size: 14px;
    color: $kao-white;
  }

  //styles text 
  .validation-text {
    margin: 10px 0 0;
    color: $kao-white;
  }
  
}
