// this document add styles to all the buttons present in the project
//style buttons
.btn {
  font-family: $f-bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 15px 25px;
  font-size: 10px;
  cursor: pointer;
  background: none;
  border-style: none;
  border: 1px solid $kao-black; /* default */
  color: $kao-black;  /* default */
  line-height: 1;

  //add hove to buttons
  &:hover {
    opacity: .8;
  }
  //styles default buttons
  &.btn-default {
    border: 1px solid $kao-black;
    color: $kao-black;
  }
  //styles inverted buttons
  &.btn-inverted {
    border: 1px solid $kao-white;
    color: $kao-white;
  }
  //style primary buttons
  &.btn-primary {
    border: 1px solid $primary-color;
    background: $primary-color;
    color: $kao-white;
  }
  //style tag buttons
  &.btn-tag {
    font-family: $f-regular;
    background: $gray-lighter;
    color: $gray-darker;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    border: none;
    [class^="icon"] {
      color: $primary-color;
      margin-left: 10px;
      font-size: 14px;
      position: relative;
      top: -1px;
    }
  }
  //styles big buttons
  &.btn-big {
    padding: 15px 34px;
  }
}

//add styles to icon button
button {
  &.icon {
    background: none;
    border: none;
    padding: 2px;
  }
}

//add styles to button with dark background
.dark-bg {
  .btn {
    border-color: $kao-white;
    color: $kao-white;
  }
}
