/* fonts */
// font simple
@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/AvenirNextLTPro-Bold.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), 
       url('../fonts/AvenirNextLTPro-Bold.ttf')  format('truetype'), 
       url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//font bold
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src:  url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
	      url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), 
        url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), 
        url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}