// this document add styles to all the forms present in the project
.form-control {
  border-radius: 0;
  border-color: $kao-black;
  box-shadow: none;
  letter-spacing: letter-spacing-photoshop-to-em(100);
  background-color: transparent;

  &.inverted {
    border: none;
    color: $kao-white;
    border-bottom: 1px solid #fff;

    &[type="text"], &[type="password"], &[type="select"] {
      color: inherit;
      @include placeholder() {
        color: $kao-white;
      }
      &::placeholder {
        color: $kao-white;
      }
    
    }
  }
}
//add styles to all inputs
input {
  border: none;
  background: none;
  color: $kao-white;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
  font-family: $f-bold;
  
  //style inputs text type
  &[type="text"], &[type="password"], &[type="select"] {
    color: inherit;
    @include placeholder() {
      color: $kao-white;
    }
   
  
  }
  //style inputs textarea type
  &[type="textarea"] {
    border: 1px solid $kao-white;
  }
  //style inputs checkbox type
  &[type="checkbox"] {
    position: relative;
    display: inline-block;
    width: 10px !important;
    height: 10px;
    background: none;
    border: 1px solid $kao-white;
    appearance: none;
    vertical-align: middle;
    //style check item
    &:checked:before {
      font-family: 'icomoon' !important;
      position: absolute;
      display: inline;
      left: 0.3px;
      top: 0px;
      font-size: 8px;
      content: '\e919';
      color: $kao-white;
      z-index: 0;
    }
  }
}

//add styles to all selects
select {
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border: none;
  text-transform: none;
  border: 1px solid $kao-black;
  option {
    color: $kao-black;
  }
  &.inverted {
    color: $kao-white !important;
  }
}
//styles all inputs with form-control and search classes
input.form-control.search {
  border: none;
  background: none;
  color: $kao-white;
  text-transform: uppercase;
  border-bottom: 1px solid $kao-white;
  font-family: $f-regular;
  padding-bottom: 0;
  padding-left: 0;
  height: 22px;
  font-size: 12px;
}
//styles all selects with form-control class
select.form-control {
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 24 24'><path fill='#222' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 97% 50%;
  background-repeat: no-repeat;
  padding-right: 2px;
  line-height: 1;
}
//styles form-control classes with disabled and readondly types
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: inherit;
  color: $kao-darkGrey;
  border-color: #ebebeb;
}

//add styles to all checkboxs
.checkbox {
  input {
    color: $kao-black;
    border-color: $kao-black;
    &:before {
      color: currentColor!important;
    }
  }
}
