// this document add styles to all the project
iframe {
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.inverted {
  input[type=checkbox] {
    border-color: $kao-black;
    &::before {
      color: $kao-black;
    }
  }
}

header, .header {
  position: relative;
  z-index: 2;
}
.main {
  margin-bottom: 30px;
  @media(max-width:  $screen-md-max) {
    overflow: inherit;
  }
  @media(min-width:  $screen-md-min) {
    margin-top: 33px;
  }
}
.page-title {
  margin-bottom: 30px;
  @media (max-width: $screen-md) {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
.flex-grid {
  display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  > div > div {
    height: 100%;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
  	-ms-flex-direction: column;
  	flex-direction: column;
  }
}
