// this document add styles to all the icons present in the project
$icomoon-font-path: "../fonts" !default;

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?3gilv3');
  src:  url('#{$icomoon-font-path}/icomoon.eot?3gilv3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?3gilv3') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?3gilv3') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?3gilv3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-list: "\e926";
$icon-grid: "\e925";
$icon-linkedin: "\e900";
$icon-next: "\e901";
$icon-prev: "\e902";
$icon-account: "\e903";
$icon-arrow: "\e904";
$icon-facebook: "\e905";
$icon-favourite: "\e906";
$icon-hamburger: "\e907";
$icon-instagram: "\e908";
$icon-search: "\e909";
$icon-shoppingbag: "\e90a";
$icon-twitter: "\e90b";
$icon-youtube: "\e90c";
$icon-close: "\e90d";
$icon-phone: "\e90e";
$icon-turnoff: "\e90f";
$icon-chevron-down: "\e910";
$icon-chevron-left: "\e911";
$icon-chevron-right: "\e912";
$icon-chevron-up: "\e913";
$icon-copy: "\e914";
$icon-tracking: "\e915";
$icon-add: "\e916";
$icon-delete: "\e917";
$icon-kao: "\e918";
$icon-tick: "\e919";
$icon-help: "\e91a";
$icon-1: "\e91b";
$icon-2: "\e91c";
$icon-3: "\e91d";
$icon-product-promotion: "\e91e";
$icon-product: "\e91f";
$icon-products: "\e920";
$icon-calendar: "\e921";
$icon-clock: "\e922";
$icon-payment: "\e923";
$icon-colorpicker: "\e924";
$icon-favorite: "\e87d";
$icon-favorite_border: "\e87e";
$icon-pencil: "\f058";

.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-prev {
  &:before {
    content: $icon-prev;
  }
}
.icon-account {
  &:before {
    content: $icon-account;
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-favourite {
  &:before {
    content: $icon-favourite;
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-shoppingbag {
  &:before {
    content: $icon-shoppingbag;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-turnoff {
  &:before {
    content: $icon-turnoff;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-tracking {
  &:before {
    content: $icon-tracking;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-kao {
  &:before {
    content: $icon-kao;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-1 {
  &:before {
    content: $icon-1;
  }
}
.icon-2 {
  &:before {
    content: $icon-2;
  }
}
.icon-3 {
  &:before {
    content: $icon-3;
  }
}
.icon-product-promotion {
  &:before {
    content: $icon-product-promotion;
  }
}
.icon-product {
  &:before {
    content: $icon-product;
  }
}
.icon-products {
  &:before {
    content: $icon-products;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-payment {
  &:before {
    content: $icon-payment;
  }
}
.icon-colorpicker {
  &:before {
    content: $icon-colorpicker;
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite;
  }
}
.icon-favorite_border {
  &:before {
    content: $icon-favorite_border;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
