// this document define to all mixins in the project
@mixin font-size($fs-map, $fs-breakpoints: $fs-breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            @include make-font-size($fs-font-size);
        } @else if $fs-breakpoint != lang {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            $fs-min-width: map-get($fs-breakpoint, minWidth);
            $fs-min-height: map-get($fs-breakpoint, minHeight);
            @media screen and (min-width: $fs-min-width) and (min-height: $fs-min-height) {
                @include make-font-size($fs-font-size);
            }
        }
    }
    @if map-has-key($fs-map, lang) {
        $fs-langs: map-get($fs-map, lang);
        @each $fs-lang, $fs-map in $fs-langs {
            @include getLang($fs-lang) {
                @include font-size($fs-map);
            }
        }
    }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size) == "list" {
        font-size: nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
        @if (length($fs-font-size) > 2) {
            letter-spacing: nth($fs-font-size, 3);
        }
    } @else {
        font-size: $fs-font-size;
    }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin media-query($media-query) {
  @if $media-query == mobile {
    @media only screen and (max-width:$screen-sm - 1) { @content; }
  }

  @if $media-query == small {
    @media only screen and (max-width:$screen-md - 1) { @content; }
  }

  @if $media-query == medium {
    @media only screen and (min-width:$screen-md) { @content; }
  }

  @if $media-query == medium-only {
    @media only screen and (min-width:$screen-md) and (max-width: $screen-lg - 1) { @content; }
  }

  @if $media-query == wide {
    @media only screen and (min-width:$screen-lg) { @content; }
  }

  @if $media-query == huge {
    @media only screen and (min-width:$xlg) { @content; }
  }

  @if $media-query == maxwidth {
    @media only screen and (min-width:$xlg) { @content; }
  }
}

// Just some helpers...
@mixin mobile-only { @include media-query(mobile) { @content }; }
@mixin small-only { @include media-query(small) { @content }; }
@mixin medium { @include media-query(medium) { @content }; }
@mixin medium-only { @include media-query(medium-only) { @content }; }
@mixin wide { @include media-query(wide) { @content }; }
@mixin huge { @include media-query(huge) { @content }; }
@mixin max-width { @include media-query(maxwidth) { @content }; }

// Aspect ratio
@mixin aspect-ratio {
  height: 0;
  position: relative;
}
@mixin aspect-ratio-size($width, $height) {
  padding-bottom: percentage($height / $width);
}
@mixin aspect-ratio-object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
