// this document add styles to all the general modals present in the project
.modal-wrapper {
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: -webkit-translate(-50%, -50%);
    max-height: 90%;
    padding: 30px;
    width: 656px;
    background: $kao-white;
    overflow: auto;
    max-width: 95%;
    
    .icon-close {
      position: absolute;
      top: 20px;
      right: 20px;
      color: $kao-grey;
    }
    
    .button-wrapper {
      margin-top: 30px;
      text-align: center;
    }
  }
}