// this document add styles to all the titles present in the project
.h0 {
  font-family: $f-bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
  @media(min-width: $screen-md-min) {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

h1, .h1 {
  font-family: $f-bold;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 25px;
  letter-spacing: 0.1em;
  img {
    vertical-align: baseline;
  }
  @media(min-width: $screen-md-min) {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

h2, .h2 {
  font-family: $f-bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @media(min-width: $screen-md-min) {
    font-size: 36px;
  }
}

h3, .h3 {
  font-family: $f-bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @media(min-width: $screen-md-min) {
    font-size: 28px;
  }
}

.h3-bis {
  font-family: $f-bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @media(min-width: $screen-md-min) {
    font-size: 24px;
  }
}

h4, .h4 {
  font-family: $f-bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  @media(min-width: $screen-md-min) {
    font-size: 14px;
  }
}
