[class^="col-"].no-gutters,
[class*=" col-"].no-gutters {
  padding-right: 0;
  padding-left: 0;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.false-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ovhidden {
  overflow: hidden;
}
.relative {
  position: relative;
}
