// this document add variables to the project
/* colors */
$primary-color: #17987A;
$kao-black: #222222;
$kao-grey: #999999;
$kao-darkGrey: #666666;
$kao-lightGrey: #ebebeb;
$kao-white: #ffffff;
$kao-red: #cf0a2c;
$kao-orange: #f47920;


/* fonts */
$f-regular: 'AvenirNextLTPro-Regular';
$f-bold: 'AvenirNextLTPro-Bold';
