//this document add styles to all grid-item-product-list components presents in the project
.grid-item--product__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  margin-bottom: -1px;
  border-top: 1px solid $kao-lightGrey;
  border-bottom: 1px solid $kao-lightGrey;

  .grid-item__img {
    width: 100px;
    background: $kao-lightGrey;

    img {
      max-height: 100px;
    }
  }

  .grid-item__body {
    width: calc(100% - 100px);
    background-color: transparent;
    color: $kao-black;
    padding: 0;

    a {
      color: $kao-black;
    }
  }

  .inner {
    display: flex;
    align-items: center;

    .left {
      flex: 0.8;
      text-align: left;
      padding-left: 20px;
    }

    .right {
      flex: 0.2;
      text-align: center;
      min-width: 90px;
      width: 90px;
      max-width: 100px;
    }
  }

  .info {
    font-family: $f-regular;
    color: $kao-grey;
    font-size: 12px;
    opacity: .8;
  }

  .link {
    font-size: 10px;
    margin-top: 5px;
  }

  .favourite {
    display: inline-block;
    vertical-align: middle;
  }

  &.grid-item--kms,
  &.grid-item--goldwell {
    .grid-item__body {
      border: none;
    }

    .grid-item__img {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 100%;
      }
    }
  }

  &.grid-item--kms {
    .grid-item__img:after {
      background-color: $kao-grey;
    }
  }

  &.grid-item--goldwell {
    .grid-item__img:after{
      background-color: $kao-red;
    }
  }
}
