/**
 * Generic placeholder grid-item
 * Composed of 1 image, body (the content should be stylized in the componenent itself)
 */
$moduleName: "grid-item";
.#{$moduleName} {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all .5s ease;
  overflow:hidden;
  &:hover, &:active {
    opacity: .80;
    img {
      transform: scale(1.04);
    }
  }
  &__img {
    overflow: hidden;
    a {
      display: block;
      width: 100%;
    }
    &--fullwidth {
      width: 100%;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      transition: all .8s ease;
    }
  }
  // Content of the body has to be defined in each item
  // because the content is very different
  &__body {
    background: $kao-black;
    color: $kao-white;
    padding: 40px 10px;
    display: flex;
    // align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-flex: 1;
  	-ms-flex: 1;
  	flex: 1;

    .inner {
      width: 100%;
    }

    a, a:hover, a:visited {
      color: $kao-white;
      text-decoration: none;
      display: inline-block;
    }
  }
  // reverse image and body
  &--reverse {
    flex-direction: column-reverse;
  }
  // color variants
  &--kms {
    .#{$moduleName}__body {
      border-style: solid;
      border-color: $kao-grey;
      border-width: 4px 0 0 0;
    }
  }
  &--goldwell {
    .#{$moduleName}__body {
      border-style: solid;
      border-color: $kao-red;
      border-width: 4px 0 0 0;
    }
  }
  &--kao {
  }

}
