//this document add styles to all grid-item-pdf components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--pdf {
  margin-bottom: 50px;
  height: 712px;
  @media (max-width: $screen-md) {
    height: 558px;
  }
  .#{$moduleName}__img {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .#{$moduleName}__body {
    padding: 24px 10px;
    h4 {
      font-size: 24px;
      margin: 40px 0 25px 0;
    }
    span {
      color: $kao-grey;
      font-size: 14px;
      line-height: 1.2em;
      display: block;
    }
    .btn {
      display: inline-block;
      margin: 25px 0 50px 0;
      font-size: 10px;
    }
  }
  &.#{$moduleName}--kms {
    .#{$moduleName}__body {
      border-color: $kao-orange;
    }
  }
}