//this document add styles to all grid-item-horizontal components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--horizontal {
  display: flex;
  &, &:hover, &:focus, &:active, &:visited {
    text-transform: none;
    font-family: inherit;
  }
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
  .#{$moduleName}__img {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .#{$moduleName}__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    @media (min-width: $screen-md) {
      text-align: left;
      .inner {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p:not(.text-muted) {
      font-family: $f-bold;
      text-transform: uppercase;
    }
  }
  // color variants
  &.#{$moduleName}--kms {
    .#{$moduleName}__img {
      border-style: solid;
      border-color: $kao-grey;
      border-width: 0 0 4px 0;
    }
  }
  &.#{$moduleName}--goldwell {
    .#{$moduleName}__img {
      border-style: solid;
      border-color: $kao-red;
      border-width: 0 0 4px 0;
    }
  }
  &--kao {
  }
}
