//this document add styles to all grid-item-images components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--download {
  &.landscape {
    height: 315px;
  }
  &.large {
    height: 417px;
    @media (max-width: $screen-md) {
      height: 320px;
    }
  }
  .#{$moduleName}__img {
    overflow: hidden;
    background: $kao-lightGrey;
    img {
      width: 100%;
    }
  }
  .#{$moduleName}__body {
    padding: 24px 10px;
    .title {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 12px;
      &, a {
        font-family: $f-regular;
        color: $kao-grey;
      }
      small {
        color: $primary-color;
        text-transform: uppercase;
      }
    }
  }
}