//this document add styles to all grid-item-list components presents in the project
.grid-item--list {
  width: 100%;
  padding: 5px 5px;
  margin-bottom: -1px;
  border-top: 1px solid $kao-lightGrey;
  border-bottom: 1px solid $kao-lightGrey;

  &:hover {
    background-color: $kao-lightGrey
  }

  .grid-item__list__title {
    font-family: $f-bold;
    text-transform: uppercase;
    display: block;
  }

  .grid-item__list__action {
    text-align: right;
  }

  .inner {
    display: flex;
    align-items: center;

    .left {
      flex: 0.8;
      text-align: left;
      padding-left: 20px;
    }

    .right {
      flex: 0.2;
      text-align: center;
      min-width: 90px;
    }
  }

  .info {
    font-family: $f-regular;
    color: $kao-grey;
    font-size: 12px;
    opacity: .8;
  }

  .link {
    font-size: 10px;
    margin-top: 5px;
  }

  .favourite {
    display: inline-block;
    vertical-align: middle;
  }

  &.grid-item--kms,
  &.grid-item--goldwell {
    .grid-item__body {
      border: none;
    }

    .grid-item__img {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 100%;
      }
    }
  }

  &.grid-item--kms {
    .grid-item__img:after {
      background-color: $kao-grey;
    }
  }

  &.grid-item--goldwell {
    .grid-item__img:after{
      background-color: $kao-red;
    }
  }
}
