//this document add styles to all grid-item-cards components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--card {
  height: 502px;
  transition: all .5s ease;
  background-color: $kao-black;
  overflow: hidden;
  .#{$moduleName}__img {
    overflow: hidden;
    max-height: 400px;
    @media(min-width: $screen-md-min) {
      max-height: none;
    }
    img {
      width: 100%;
      transition: all .8s ease;
      margin-top: -100px;
      @media(min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }
  .#{$moduleName}__body {
    padding: 1.8em;
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 15px;
        @media(min-width: $screen-lg-min) {
          .home & {
            font-size: 24px;
          }
        }
    }
    p {
      text-transform: none;
      font-family: $f-regular;
      &.muted {
        color: $kao-grey;
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
  }
  &:hover, &:active {
    opacity: .80;
    img {
      transform: scale(1.04);
    }
    .btn {
      opacity: .8;
    }
  }

  .price {
    margin: 10px 0;
  }
}
