//this document add styles to all grid-item-product components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--product {
  height: 465px;
  .#{$moduleName}__img {
    overflow: hidden;
    background: $kao-lightGrey;
    position: relative;
    img:not(.zoom) {
      padding: 40px 20px;
      width: auto;
    }
    img.zoom {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transform: none;
    }
  }
  .#{$moduleName}__body {
    position: relative;
    .favourite {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    .ref {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    .info {
      font-family: $f-regular;
      color: $kao-grey;
      font-size: 12px;
      opacity: .8;
    }
    .price {
      font-family: $f-bold;
    }
    form, div.form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .quantity {
      color: white;
      background: transparent;
      text-align: right;
      max-width: 4.5em;
      border: 1px solid currentColor;
      font-weight: normal;
      margin: 0 10px;
    }
    .btn-add {
      background: none;
      border: 0;
      color: inherit;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      -webkit-appearance: button; /* for input */
      -webkit-user-select: none; /* for button */
         -moz-user-select: none;
          -ms-user-select: none;
      color: $primary-color;
      margin: 0 10px;
    }
    .problem-message {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 11px;
      font-family: $f-bold;
      .request-notification {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 10px;
      }
    }
  }
  &:hover {
    .#{$moduleName}__img {
      img.zoom {
        opacity: 1;
      }
    }
  }
}
.product-item {
  .details {

  }
}
