//this document add styles to all grid-item-feature components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--feature {
  position: relative;
  .#{$moduleName}__img {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .#{$moduleName}__body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($kao-black, 0.5);
    border-width: 0 0 8px 0;
    color: $kao-white;
    padding-left: 25%;
    padding-right: 25%;
    @media (max-width: $screen-lg) {
      padding-left: 15%;
      padding-right: 15%;
    }
    @media (max-width: $screen-md) {
      position: static;
      background: $kao-black;
    }
    .title {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    .info {
      text-transform: uppercase;
      font-family: $f-bold;
      margin-bottom: 15px;
    }
    .btn {
      font-size: 10px;
    }
    .number-list {
      text-align: left;
      li {
        margin: 0;
      }
    }
    h2 {
      margin: 0 0 30px;
    }
  }
}