//this document add styles to all grid-item-events components presents in the project
$moduleName: "grid-item";
.#{$moduleName}--event {
  position: relative;
  .#{$moduleName}__img {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .#{$moduleName}__body {
    padding: 50px 103px 40px;
    font-size: 12px;
    @media (max-width: $screen-lg) {
      padding: 10% 15%;
    }
    h3 {
      margin: 0 0 35px;
    }
    .description {
      text-align: left;
    }
    .contacts {
      margin-top: 15px;
      padding: 15px 0 0;
      text-align: left;
      color: $kao-grey;
      border-top: 1px solid $kao-white;
      p,
      address {
        margin: 0;
      }
    }
    .lnk-wrapper {
      margin-top: 8px;
      a {
        color: $primary-color;
        font-size: 10px;
      }
    }
  }
  &.image-bottom {
    padding-bottom: 35.85%;
    .#{$moduleName}__img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }
    @media (max-width: $screen-md) {
      padding-bottom: 0;
      .#{$moduleName}__img {
        position: static;
      }
    }
  }
}