//this document add styles to main pages of the project
body {
  margin: 0;
  padding: 0;
  font-family: $f-regular;
  color: $kao-black;
  letter-spacing: letter-spacing-photoshop-to-em(100);
  overflow-x: hidden;
  &.no-scroll {
    overflow: hidden;
  }
}
.owl-carousel {
  z-index: 0;
}
img {
  max-width: 100%;
}
label {
  font-weight: normal;
}
a, a:hover, a:visited, a:focus, a:active, .link {
  color: $primary-color;
  text-transform: uppercase;
  font-family: $f-bold;
  text-decoration: none;
  transition: all .3s;
}
a:hover, .link:hover {
  opacity: .8;
}

button.link {
  background: none;
  appearance: none;
  border: none;
}

.bold {
  font-family: $f-bold;
}
/* forms */
.form-control:focus {
border-color: $kao-grey;
box-shadow: inset 0 1px 1px rgba(235, 235, 235, 0.075),
0 0 8px rgba(184, 184, 184, 0.6);
}

/* BACKGROUNDS */
.dark-bg {
  background: $kao-black;
  color: $kao-white;
}
